[2014-02-27 15:09] wearpants opened #1 "Support for repeated query parameters"
It'd be helpful to support multiple values for the same query parameter, like Flask-RESTful. These would be accumulated into a list, after validation.

http://flask-restful.readthedocs.org/en/latest/reqparse.html#multiple-values-lists

[2014-02-28 06:40] sloria commented on #1
Added. You can now do:

[code]

Thanks for the suggestion.

[2014-02-28 13:26] wearpants commented on #1
Hmm, is the type specifier really intended to be `list` here?
Reqparse/argparse take a basic type (int, etc) in this situation and use a
`multiple`-like flag to indicate that the arg is a list of basic types.
That way you still get type conversion on each element...
On Feb 28, 2014 12:40 AM, "Steven Loria" notifications@github.com wrote:

[2014-02-28 14:22] sloria commented on #1
Yes, I think the approach you're describing makes more sense. I will change
later today or tomorrow when I'm off work.

---

StevenLoria.com

On Fri, Feb 28, 2014 at 8:26 AM, Peter Fein notifications@github.comwrote:

[2014-03-01 14:32] sloria commented on #1
Fixed. Thanks again!

[2014-03-01 14:32] #1 closed, assigned to nobody

[2014-06-25 01:17] ewang opened #4 "Pre-processing should occur before type conversion"
Currently, the Arg#use callable is called after type conversion. I think it would be more useful if called prior to type conversion.

Example: self.type(self.use(...)) instead of self.use(self.type(...))

[2014-07-14 22:37] samiruppaluru opened #5 "Flask Parser cannot parse json when Content-Type header contains more than just 'application/json'"
In flaskparser.py:

[code]

The 'Content-Type' header is checked to be exactly equal to 'application/json'.

This prevents parsing of other valid 'Content-Type' headers, such as
`Content-Type:application/json;charset=UTF-8`
which is what my application sends with its AJAX requests.

Could we change the code to check that the Content-Type _**contains**_ instead of equals 'appliation/json' to handle

[2014-07-15 01:45] sloria commented on #5
Thanks for reporting. You are correct that the header check is incorrect. However, I think the solution here is to use `request.get_json()`, as the [Flask docs suggest](http://flask.pocoo.org/docs/api/#flask.Request.json). I will hotfix this.

[2014-07-15 02:03] #5 closed, assigned to nobody

[2014-07-15 02:15] sloria commented on #4
Can you elaborate on your rationale and give an example use case?

[2014-07-15 02:29] ewang commented on #4
This way one can use the Arg#use callable as a way of modifying the input value before being type converted.

My current use case is if the input argument is a blank string, I get an error since int() can't parse a blank string. In such a case it might be useful to be able to return 0 or some other value before parsing.

Perhaps a better implementation would be the addition of a flag (i.e. allow_e

[2014-07-15 04:29] sloria commented on #4
After thinking this over, I think you make a valid point; preprocessing will necessarily have to occur before type conversion in some instances. Another common case will be datetime strings, which must be parsed before being converted to a datetime object.

[2014-07-15 04:42] sloria commented on #4
I've gone ahead with the change, so I'm closing this. Adding the `allow_error` parameter is another issue that I will have to think about.

Thanks for the suggestions!

[2014-07-15 04:42] #4 closed, assigned to nobody

[2014-07-15 19:37] samiruppaluru commented on #5
@sloria Thanks! Works great.

[2014-08-04 14:21] attwad opened #6 "support for webapp2 framework?"
Hi, just wondering if you planned on supporting the webapp2 framework which is using standard webob requests objects. This would make this library usable on appengine with more frameworks and would be awesome.
Thanks!

[2014-08-30 07:16] dgilland opened #7 "Behavior of "allow_missing=True" with "multiple=True""
Currently, when you define an `Arg` such as:

[code]

When `somearg` is not supplied, the parsed `myargs` is `{'somearg': []}`.

However, when you define an `Arg` with `multiple=False`:

[code]

When `somearg` is not supplied, the parsed `myargs` is `{}`.

I was surprised by this behavior as I assumed that when `allow_missing=True` and the argument is not supplied, that no parsed value would be re

[2014-08-30 17:36] sloria commented on #7
@dgilland You are correct; the current behavior is incorrect. In your example, `'somearg'` should not be in the parsed arguments if it is not passed.

I will issue a fix soon. Thanks for reporting!

[2014-08-30 17:44] #7 closed, assigned to nobody

[2014-08-30 17:57] sloria commented on #6
I do not have plans to add support for a webapp2 parser in the near future.

That said, new parsers are relatively simple to create. You would only need to create a `Parser` class that implements the methods for parsing webob requests. See the existing parsers for examples.

[2014-08-30 17:57] #6 closed, assigned to nobody

[2014-08-30 18:11] dgilland commented on #7
Awesome! Thanks for fixing the issue so quickly! :+1:

Kudos on the library as well! Very helpful/useful.

[2014-08-31 15:21] dgilland opened #8 "v0.5.1 not installable via pip"
I tried to upgrade to 0.5.1, but pip says that 0.5.0 is the latest even though pypi shows this: https://pypi.python.org/pypi/webargs/0.5.1:

[code]

However, 0.5.1 is missing from https://pypi.python.org/simple/webargs/ which is where (I believe) pip is checking:

![screenshot from 2014-08-31 11 16 16](https://cloud.githubusercontent.com/assets/1251349/4102269/e0bc9850-3121-11e4-8846-d3324c1e7fb1.

[2014-08-31 20:05] sloria commented on #8
Hm, it looks like there was a problem uploading the distribution using setuptools on Python 3. I was able to successfully re-upload in a Python 2 environment. You should now be able to upgrade to 0.5.1.

Thanks for reporting this!

[2014-08-31 20:05] #8 closed, assigned to nobody

[2014-09-02 13:36] dgilland opened #9 "Feature request: Arg(allow_none)"
This feature would allow one to parse `None` values when they are explicitly sent in the request.

Currently, with `allow_missing=True`, sending a null value (e.g. over JSON) results in an empty parse.

Setting `allow_missing=False`, allows a null value through but does so even if the value wasn't actually sent in the request.

Something like `allow_none=True` would set `None` for the parameter bu

[2014-09-07 22:01] sloria commented on #9
You raise a valid point. I'm thinking that the current behavior of `allow_missing=True` is incorrect when an argument is `None`. `None` should not be a special case; if it is explicitly included in the request, it should be included in the parsed arguments.

So perhaps the solution here is not an extra `allow_none` parameter but a modification to the behavior of the existing `allow_missing` parame

[2014-09-08 02:47] sloria commented on #9
@dgilland OK, I've implemented the following behavior:
- If `allow_missing=True`, values will only be excluded if they are not found on the request.
- If `allow_missing=True` and a request argument is `None`, it will still be included in the parsed arguments.

Does this solve your problem?

[2014-09-08 13:23] dgilland commented on #9
Yes it does. Thank you! :+1:

[2014-09-08 23:52] #9 closed, assigned to nobody

[2014-09-18 07:17] boobby opened #10 "what do i do if a field's value is necessary for validating another field?"
I think django's  form validation is a good solution , but it is too heavy.

[2014-09-21 17:47] sloria commented on #10
I've just added a `validate` parameter to the `Parser.parse` method (which you can also pass to `use_args` and `use_kwargs`). It allows you to pass a callable that receives the full arguments dictionary as its only argument.

Example:

[code]

Does this solve your problem?

[2014-09-27 15:33] mickey06 opened #11 "Upgrading from 0.5.1 to 0.6.0 : default is not set (example in description)"
[code]

[2014-09-28 16:56] #11 closed, assigned to nobody

[2014-09-28 16:56] sloria commented on #11
This is fixed in 0.6.1, which will be released shortly. Thank you for reporting this!

[2014-09-30 06:00] mickey06 opened #12 "JSON payload unicode problem on flask"
Sending non ASCII text returns : 400 Bad Request

Browser side code :

[code]

Server side code:

[code]

[2014-10-03 12:26] sloria commented on #12
Thanks for reporting. I will look into this this weekend.

[2014-10-05 03:05] jmcarp commented on #12
If you're using Python 2.x, have you tried changing `Arg(str)` to `Arg(unicode)`?

[2014-10-05 04:25] sloria commented on #12
As @jmcarp pointed out, using `Arg(unicode)` should do the trick. I've added a test in https://github.com/sloria/webargs/commit/bf081746cf04c44600d9eb68d39aa436b90b5763 to verify that this is the case.

[2014-10-05 04:25] #12 closed, assigned to nobody

[2014-10-05 04:25] #10 closed, assigned to nobody

[2014-10-07 14:03] ispmarin opened #14 "`error` message for json payload not working"
Hi all,

The `error` message on Arg() is not printing the error message if validation fails, but instead is printing only the default 400 message.

[code]

with a correct request like

[code]

and an incorrect one like
     {
         "suggestsadf":"test"
     }
that should print the error message.
Thanks!

[2014-10-12 18:33] sloria commented on #14
Webargs will use Flask's [`abort`](http://flask.pocoo.org/docs/0.10/api/#flask.abort) function to abort the current request. It will not handle returning a response automatically.

You will need to add an error handler for your `Flask` app. See [here](http://flask.pocoo.org/docs/0.10/api/#flask.Flask.errorhandler) .

Webargs will attach additional data, including validation errors, to the HTTPExce

[2014-10-12 19:47] sloria commented on #14
I've added documentation for handling validation errors in Flask+webargs: http://webargs.readthedocs.org/en/dev/#error-handling.

Hope this helps!

[2014-10-18 16:45] #14 closed, assigned to nobody

[2014-10-21 18:38] ispmarin commented on #14
Thanks!

[2014-10-31 09:57] marcelhekking opened #17 "can arguments be made case-insensitive?"
Is it possible to make the arguments case-insensitive?

[2014-11-24 17:56] dmitry-saritasa opened #18 "Embedded document (Dict) validation"
hi Sloria,

Nice framework! Is it possible to validate embedded document (dict) within JSON?

[code]

is it possible?

thanks,
Dmitry

[2014-11-27 15:42] Ch00k opened #19 "Error handling when using webargs together with Flask-RESTful"
I'm having difficulties understanding how to deal with default webargs errors while using webargs together with flask-restful. I'm always getting this error when the arg validation fails:
`TypeError: ValidationError(u"Required parameter 'imdb_data' not found.", status_code=400) is not JSON serializable`
It's understandable that flask-restful expects a dictionary so it could serialize if to JSON. W

[2014-11-28 17:50] sloria commented on #17
There is no built-in way to make an `Arg` case-insensitive. Many web frameworks implement a case-insensitive dict for the appropriate request argument source (e.g. headers).

One could implement case-insensitive headers by overriding how requests are parsed:

[code]

[2014-11-28 17:51] #17 closed, assigned to nobody

[2014-11-29 00:40] sloria commented on #19
Flask-RESTful will try to jsonify the `data` attribute of the raised `HTTPError` (see [here](https://github.com/flask-restful/flask-restful/blob/65c360d894cc68b65582fe9589dc09a6f2075a7c/flask_restful/__init__.py#L282)). In webargs, the data attribute contains the `ValidationError` object, which is not JSON-serializable.

The solution here is to define an error handler for the webargs `FlaskParser`

[2014-11-29 00:44] sloria opened #20 "Add example usage with Flask-RESTful"
Prompted by #19 : Add an example in the examples/ directory that uses the Flask-RESTful library.

[2014-11-29 00:56] #20 closed, assigned to nobody

[2014-11-29 02:47] sloria commented on #19
Added an example with Flask-RESTful [here](https://github.com/sloria/webargs/blob/dev/examples/flaskrestful_example.py).

[2014-11-29 10:56] Ch00k commented on #19
Thanks!

[2014-11-29 10:56] #19 closed, assigned to nobody

[2014-11-29 12:03] Ch00k opened #21 "User-friendly error messages for type validation"
Let's say I have a PUT method that must be given a JSON of this structure:

[code]

My code then would look like this:

[code]

The problem I have is with webargs' type coversion, namely this [part](https://github.com/sloria/webargs/blob/dev/webargs/core.py#L169-L174) of code. So if I provide this kind of JSON: `{ "imdb_data": 1 }`, my custom validation function `validate_imdb_data_json` will not

[2014-11-29 12:17] Ch00k commented on #21
Actually it's not only the complex types really. You will likely have the same problem if you try `int("foo")`

[2014-11-29 14:16] sloria commented on #21
Indeed, type validation occurs before passing the value to the validator(s).

The rationale behind this that user validators are expected to receive a value of type `type_` as input. If the passed value cannot be cast to a value of type `type_`, the user validators will not make sense and the validation should fail fast.

re: The `TypeError` being caught implicitly: that is the expected behavior,

[2014-11-29 14:23] sloria opened #22 "Remove implicit error handling"
mentioned in #21 : Currently, `Parser` will catch all generic `Exceptions` and pass them to the parser's error handler function.

This is not ideal. Non-webargs errors should be handled outside of webargs so that unexpected errors result in a proper 500 response rather than implicitly rendering them as 400s.

[2014-11-29 15:33] #22 closed, assigned to nobody

[2014-11-29 15:39] Ch00k commented on #21
The motivation of this kind of validation is clear but that breaks the whole idea of user-friendly error messages. The simplest example - the user providing a string where an integer is required - already "breaks" the error handling.
A quick solution I just came up with could be something like the following:

[code]

with a basic map of JSON types:

[code]

[2014-11-29 17:54] sloria commented on #21
Yes, I think the current error messages for type validation can definitely use improvement. I think you have the start of a good solution. I would suggest using the terminology used in [JSON Schema](http://json-schema.org/latest/json-schema-core.html#anchor8) for the primitive types. Also, a default error message should be used if the value is not in the `JSON_TYPES` mapping.

If you would like to

[2014-11-29 18:44] Ch00k commented on #21
Thanks! I'll work on a pull request.

[2014-11-30 17:19] sloria opened #23 "Add a cache for storing processed request bodies"
A short-lived cache could be used to store the results of processing request bodies to prevent repeated work while parsing multiple arguments.

One immediate use for this is to store parsed JSON body in the `TornadoParser`. Currently, the JSON-decoded body is stored on the `json` attribute of the parser. It would be better to have a more generalized means of storing temporary data.

h/t @jmcarp fo

[2014-11-30 17:56] #23 closed, assigned to nobody

[2014-11-30 18:06] sloria commented on #18
There is currently no built-in way to do validation of nested data. You would have to add a validator to the `data` arg.

[code]

I have considered adding support for nested validation by allowing the `type_` argument to be a dictionary of `Arg` objects. The syntax would be very similar to what you have above.

[code]

I need to think more about this feature, though.

[2014-11-30 18:07] sloria commented on #21
@Ch00k Thank you for offering to work on this. I have updated the title of the issue to more accurately reflect the problem being solved.

[2014-11-30 18:13] dgilland commented on #18
+1 for this. I currently use a class based object for the nested Arg type. Having builtin support for this would be great!

[2014-11-30 18:31] Ch00k commented on #21
@sloria Sure. It looks like the idea of having proper type validation is a lot more difficult to implement than I initially thought. Specifically because of the need to support different targets and also different Python versions. I already started experimenting and created a PR #24. It's still very far from ready, lots of existing tests fail but still please take a look if you have any feedback o

[2014-12-04 02:35] nickretallack commented on #21
I'm coming here from flask-restful / reqparse.  I like how it doesn't differentiate between type coercion and validation.  For example, I can do this:

[code]

In most situations it'd probably be easiest to just write a little function like this that handles both type coercion and validation all at once.

[2014-12-04 05:02] sloria commented on #21
Giving validators a single point of responsibility is beneficial for maintainability and reuseability. It also makes validators easier to write because they only have to worry about one type of input.

If you _really_ want to do both type coercion and validation in the same function, you can still pass the `use` argument.

[code]

[2014-12-04 13:26] marcelhekking commented on #17
Thanx for the answer

[2014-12-06 07:19] sloria commented on #21
Closed by #24.

[2014-12-06 07:19] #21 closed, assigned to nobody

[2014-12-08 05:12] #18 closed, assigned to nobody

[2014-12-08 05:26] sloria commented on #18
Added in 0.9.0

[2014-12-09 19:24] dgilland opened #28 "Nested args aren't filtered when extra parameters provided"
When defining nested args, extra parameters aren't removed from the resulting parsed object.

For example, given the following args:

[code]

If the incoming parameters are something like:

[code]

then the resulting parse is `incoming`, but I would expect it to be:

[code]

[2014-12-09 19:35] dgilland opened #29 "Compatibility of `multiple=True` with nested args"
Correct me if I'm wrong, but it doesn't seem like nested args supports lists of dicts.

For example, using this:

[code]

to parse incoming data like this:

[code]

[2014-12-10 01:04] sloria commented on #29
`multiple=True` should work as expected with nested `Args`.

I've written a test case to verify this here: https://github.com/sloria/webargs/blob/09eceaf120ed4cba88c2c959661c3d52b883d495/tests/test_core.py#L242-254

[2014-12-10 01:11] sloria commented on #28
Yes, the current behavior is expected, but on second thought, it may not be desired.

I think your intuition is correct. I'm wondering if we should even raise an error if extra arguments are passed in. That way, the developer user can respond to the extra arguments if appropriate.

Thoughts?

[2014-12-10 01:47] dgilland commented on #29
My usage was with how the various parsers process the args.

For example, if you look at [flaskparser.parse_json](https://github.com/sloria/webargs/blob/d8692b397e9c199500df7354c7bccd425ee2c727/webargs/flaskparser.py#L53), it passes `arg.multiple` to `core.get_value`. Then in [core.get_value](https://github.com/sloria/webargs/blob/d8692b397e9c199500df7354c7bccd425ee2c727/webargs/core.py#L91), this

[2014-12-10 01:54] dgilland commented on #28
Personally, I don't need an exception raised on extra nested parameters. No exceptions are raised when extra parameters are provided to flat args. I mainly just want to only allow certain parameters in while keeping out everything else.

[2014-12-12 01:28] #29 closed, assigned to nobody

[2014-12-12 01:54] sloria commented on #29
Hotfix is in the latest release on the PyPI. Thanks for reporting this!

[2014-12-24 03:11] #28 closed, assigned to nobody

[2015-01-20 06:38] yani- opened #31 "Validating files in Flask is broken"
Example code:

[code]

Python 3.4
webargs==0.10.0

The problem is in `core.py` line 216 where we do conversion to type:
`ret = self.type(ret)`
One way to fix this is by making the conversion optional?

[2015-02-01 16:06] sloria commented on #31
@yani- Apologies for the delayed response.

The `type_` conversion argument is optional, so your example should work if you remove `FileStorage` from the `Arg`.

[2015-02-02 04:12] yani- commented on #31
Thank you @sloria
In that case, I will probably need to use lambda to validate that the file is of type FileStorage?

[2015-02-02 05:11] sloria commented on #31
@yani- Correct, the `type_` parameter is for conversion; use `validate` for validation.

[2015-02-02 06:08] yani- commented on #31
Thank you @sloria

[2015-02-02 06:08] #31 closed, assigned to nobody

[2015-02-03 18:26] joshfriend opened #32 "Source and target parameters are confusing"
I was expecting the `target` argument to specify the location in the parsed set where the argument value would be stored (similar to stdlib `argparse`'s or flask-restful's `dest` kwarg).
I also thought that `source` was the location in the request to look for the argument  (see `source` arg from flask-restful).

Due to the pending deprecation of the `reqparse` module of Flask-Restful (flask-restfu

[2015-02-04 04:12] yani- commented on #32
+1

[2015-02-05 04:39] sloria commented on #32
I will have to think about this. It would be nice if we could do this while maintaining at least some backwards-compatibility. Switching the names would change the semantics in a significant way, such that the `Arg` objects that used the `source` argument would have to reverse the keys and values.

[code]

We might be able to reclaim some backwards-compat if we add a `dest` parameter, which would

[2015-03-02 03:28] sloria commented on #32
I've added the `dest` parameter as described above and renamed `targets` to `locations`. Hopefully this clears things up.

[2015-03-02 03:31] #32 closed, assigned to nobody

[2015-03-02 13:41] joshfriend commented on #32
Yeah, I think that helps clear it up nicely. Thanks!

[2015-03-12 22:52] alexmic opened #34 "Include failing argument name for validation errors"
When a validation occurs I want to be able to return the name of the failing argument. At the moment, this is not possible since the validation error contains just a string. An example response:

[code]

Is this something you feel is worth adding?

[2015-03-14 16:59] sloria commented on #34
@alexmic I agree that this would be useful. :+1: Pull requests welcome!

[2015-03-20 12:21] #34 closed, assigned to nobody

[2015-04-13 23:48] sloria opened #38 "Default error handlers should return 422 status code to client?"
Currently, error handlers return a 400 response. It may be more appropriate to return a 422, which is typically used for ValidationErrors.

From RFC 4918:

[2015-04-15 04:14] #38 closed, assigned to nobody

[2015-05-07 05:04] ewang opened #39 "allow_missing=False not working with nested args"
Nested args currently do not respect the allow_missing flag.

Example:
Argmap: {"nested": Arg({"a": Arg(str), "b": Arg(str)})}
JSON request body: {}
Should return {"nested": {"a": null, "b": null}}
Instead returns {}

I was looking at the current nested args parsing logic, it seems to bypass most of the logic of dealing w/ allow_missing in Parser#parse.

Perhaps nested args can be implemented simp

[2015-05-07 22:27] ewang opened #40 "source, dest arguments not working with nested args"
Nested arg parsing does not respect source, dest arguments.

[2015-05-08 01:11] sloria commented on #40
Thanks for reporting @ewang . I will look into this soon.

[2015-05-08 01:17] ewang commented on #40
I think it's for the same reason I mentioned in #39 . I have some ideas on how to fix, but it'll involve refactoring quite a bit of the current Parser module.

[2015-05-08 01:23] sloria commented on #40
@ewang The nested args parsing  could use refactoring; PRs are welcome. =)

[2015-05-12 20:47] thomasboyt opened #41 "Parsed arguments in Python 3.x w/ Tornado are bytestrings instead of unicode"
I ran into some unexpected behavior using this library with Tornado in Python 3.x. It's easy to see using the hello world example:

[code]

Querying `localhost:5001?name=foo` will result in the output:

[code]

This is because Tornado's arguments are bytestrings in Python 3.x, and casting them to `str` causes them to be in the form `b'<val>'`.

There are a few ways to fix this behavior. The easies

[2015-05-20 10:19] hartror opened #42 "Pyramid parser use_kwargs throws exception when used"
The following code using the pyramid parser throws an exception:

[code]

The exception:

[code]

[2015-05-20 15:28] jacebrowning opened #44 "`use_args` does not use the parser's locations"
If I specify custom locations in a parser:

[code]

Then decorate a method with `use_args`:

[code]

Those custom locations are ignored and the default locations are used:

https://github.com/sloria/webargs/blob/f57c9b730d9b274edce85de38cdc39fdbdc2ecca/webargs/core.py#L445

This requires me to override locations in every `use_args` decorator:

[code]

Was this intentional? To me, it seems like lin

[2015-05-21 05:39] sloria commented on #44
This is indeed a bug. Thanks for the PR!

[2015-05-21 05:44] #42 closed, assigned to nobody

[2015-05-21 05:44] #44 closed, assigned to nobody

[2015-05-22 09:16] sloria commented on #41
Thanks @thomasboyt . I think using `get_argument` is probably the right direction, as it meets the most common use case.

Pull requests welcome!

[2015-05-29 17:22] Lemmons opened #46 "default not working with nested args"
Nested args aren't respecting the default keyword.

For example:

[code]

Behaves as expected. When making a request with the payload`{"param1": "foo"}`, `param2` is correctly added with the value `"bar"`.

On the other hand, with this:

[code]

making a request `{"param": {"sub_param1": "foo"} }` does not add `sub_param2`.

Without looking to the code too much, my guess would be this has the same

[2015-06-14 16:30] rajatkhanduja opened #48 "Checking for argument that is a list of 'int'"
I was trying to define a nested Arg that allows one of the parameters to be a list of 'int'. While `Arg(list)` only checks if it is of type `list`, I was able to get the necessary validation to work by using `multiple=true` as `Arg(int, multiple=true)`. This gives me a list of int and rejects other types like str.
However, looking at the [relevant code](https://github.com/sloria/webargs/blob/dev/w

[2015-06-16 04:10] sloria commented on #48
@rajatkhanduja `Arg(int, multiple=True)` is the correct usage. `multiple=True` is used for collections (lists and tuples) and the `type_` argument is used for conversion/validation of _each_ item in the collection.

[2015-06-16 04:31] rajatkhanduja commented on #48
Thanks for the clarification :)

[2015-06-16 04:31] #48 closed, assigned to nobody

[2015-06-19 22:00] jmcarp opened #50 "Validate list values with `multiple=True`"
For `Arg` objects with `multiple=True`, the validators are applied to each item in the list, but there doesn't seem to be a way to validate the overall list. Use cases: checking for duplicates, checking length of list is greater or less than some count.

Should webargs support this, or does this logic fit better elsewhere?

[2015-06-24 01:54] #40 closed, assigned to nobody

[2015-06-24 01:57] #46 closed, assigned to nobody

[2015-07-01 08:46] ghost opened #51 "allow_missing=True not working with nested args on passing null"
I'm trying to follow [jsonapi's spec on updating relationships](http://jsonapi.org/format/#crud-updating-to-one-relationships), so I made the following args

[code]

here I'm expecting that when I pass an object in `data`, it will try to validate it if it has the necessary fields (`type` and `id`) and when I pass `null` it will continue on and give me dict object of `{data: None}`, but only the fo

[2015-08-02 09:02] rajatkhanduja commented on #38
I am not an expert at this, but I'd like to discuss more about this.

Quoting a [stackoverflow answer](http://stackoverflow.com/a/20215807/277923), [RFC 7231](https://tools.ietf.org/html/rfc7231#section-6.5) has the following to say about status code 400 (Bad Request)

Wouldn't "invalid request message framing" cover the scenarios where a ValidationError would be raised?

[2015-08-13 00:59] marcellarius opened #54 "Null value handling"
Null values in webargs are currently not handled very well.
- None must not be passed to the type function.
  Python's builtin type functions don't handle None nicely (e.g. `str(None) == 'None'`)
- There needs to be a way to reject null values where they are not valid.
- required=True currently accepts null values, which can be a bit surprising.

I think the simplest solution is to skip type conve

[2015-08-18 02:56] #54 closed, assigned to nobody

[2015-08-26 17:55] jfpoilpret opened #58 "Add "bundle_errors" options to send multiple errors for one parse"
Hi, I just started using **webargs** with the purpose to fully replace `reqparse` from **Flask-RESTful** in my application.
So far I am very happy with webargs nested arguments capabilities (which I could not properly work out with reqparse).

However, with reqparse you have a `bundle_errors` option, which when set to `true`, tries to validate all arguments and does not stop after the first error,

[2015-08-31 02:42] sloria commented on #58
"Error bundling" has not yet been implemented in webargs, though it's definitely a feature I would like to see.

One solution is to use [marshmallow](https://github.com/marshmallow-code/marshmallow) in tandem with webargs (I see Flask-RESTful is working towards replacing it's marshalling module in favor of marshmallow) because it does have the error-bundling you're looking for. You would use `weba

[2015-09-02 19:14] jfpoilpret commented on #58
Thanks for the comment.
Currently I don't use marshmallow in my project as the marshalling support of Flask-RestFul fits my needs for output; I am not sure yet I would want to add it as a new dependency just for this.

I will take a look at webargs source and see if I can easily add this feature and propose a PR for it. However, I think that won't be until a few weeks more.

I will put updates her

[2015-09-02 23:06] marcellarius commented on #58
A related change that I had considered making was to catch ValidationError exceptions during parsing and ensure the arg name was set -- as validation functions probably won't know the correct arg name when raising the exception.

[2015-09-02 23:18] kirsle opened #59 "Keep track of decorated function names to assist with automatic API documentation"
This is a feature request for webargs that would make it easier to automatically generate API documentation in a web app. The specific use case in mind is for Flask, but this could probably help with other types of apps.

The only code change necessary in webargs is to keep track of the wrapped function names and associate it with the arguments attached to that function, and have a method to extra

[2015-09-04 22:41] imhoffd opened #60 "Dates... ?"
I'll preface this with what I would **like** to do:

[code]

So `from_iso8601` is a input conversion function supplied by webargs. It'd be cool to have `from_rfc3339` and `from_format` used like `partial(from_format, 'd/%m/%y %H:%M')` which uses [strptime](https://docs.python.org/3.4/library/datetime.html#strftime-strptime-behavior), and maybe `from_rfc822`.

I don't see this happening without ext

[2015-09-04 23:00] jfpoilpret commented on #60
Actually, you can do it directly, without any need to specify type, and then you can provide your own conversion function.

Here is what I do in my app:

[code]

`string_to_date()` is a function returning a conversion function directly usable in `Arg` constructor. This way you can specify different formats for different arguments.

The important point here is to **not specify** type.

I'll let you

[2015-09-05 20:18] imhoffd commented on #60
Ah, that's the feature I must have missed/overlooked. Thanks, I'll give this a try.

[2015-09-05 20:18] #60 closed, assigned to nobody

[2015-09-06 15:47] sloria commented on #59
Thanks for the suggestion @kirsle . I like the idea. We will certainly consider this as we develop the webargs plugin for [smore](https://github.com/marshmallow-code/smore).

[2015-09-20 21:26] sloria opened #61 "Use marshmallow under the hood"
### Proposal

Replace `Arg` objects with marshmallow fields. Use marshmallow for validation.
### Why?

Webargs and marshmallow have redundant functionality for validating input data against a user-defined schema. Marshmallow does a better job of than webargs in a number of respects:
- Nested validation is much more powerful in marshmallow. marshmallow's `Nested` field would solve #39 and #51.
- Ma

[2015-09-20 22:19] marcellarius commented on #61
This seems like a good solution to me.

On Mon, Sep 21, 2015 at 9:26 AM, Steven Loria notifications@github.com
wrote:

[2015-09-21 00:12] hello-josh commented on #61
+1

[2015-09-22 02:51] sloria commented on #61
Making lots of progress on this.

I haven't yet decided where fields should be imported from.

Here are the alternatives (note that `Nested` is a webargs-specific field):

(1) Import from `webargs.fields`

[code]

(2) Import from `webargs`

[code]

(3) Import from `marshmallow`

[code]

Any preferences?

[2015-09-22 03:22] marcellarius commented on #61
1) or 3).  I think option 3) makes it clear that it's using marshmallow.

On Tue, Sep 22, 2015 at 2:51 PM, Steven Loria notifications@github.com
wrote:

[2015-09-22 03:42] sloria commented on #61
Fair point. On the other hand, perhaps we don't want to "leak" the marshmallow abstraction? As a user, I don't really like being required to import a 3rd-party library's (marshmallow) modules in the common case, but that's personal preference.

[2015-09-22 03:45] sloria commented on #61
From discussion with @jmcarp : "I think i prefer 1 or 2 just so it's harder to use the wrong `Nested`".

[2015-09-22 11:29] hello-josh commented on #61
I would argue that you shouldn't import from Marshmallow at all. If you want to use Marshmallow under the good, go all the way.

`from webargs import fields, validate`

[2015-09-22 12:44] sloria commented on #61
To play devil's advocate: there's a risk of hiding _too much_. If users import `Schema` from webargs, they might think that webargs modifies behavior of vanilla marshmallow Schemas in some way.

That said, I think importing `fields` and `validate` from webargs is fine.

[2015-09-22 13:15] sloria commented on #61
There's also an argument for future-proofing: we can always add imports to webargs without breaking backwards-compat; we cannot remove them without breaking compat.

[2015-09-25 03:12] sloria opened #63 "Falcon support?"
It seems that webargs could fit in nicely with Falcon's hooks:

[code]

Edit: Modify expected API.

[2015-09-27 15:43] sloria commented on #61
The `marshmallow` branch is merged. We'll have a release out later today.

[2015-09-27 15:43] #61 closed, assigned to nobody

[2015-09-27 15:43] sloria commented on #58
This is solved by using marshmallow for validation.

[2015-09-27 15:43] #58 closed, assigned to nobody

[2015-09-27 15:43] sloria commented on #39
This will be solved by using marshmallow's `Nested` field.

[2015-09-27 15:43] #39 closed, assigned to nobody

[2015-09-27 19:28] hello-josh commented on #61
:+1:

[2015-09-27 20:49] sloria commented on #51
This is now fixed by virtue of using marshmallow's `Nested` field.

[2015-09-27 20:49] #51 closed, assigned to nobody

[2015-09-27 23:44] sloria commented on #50
This is now addressed by virtue of using marshmallow's `List` field.

[2015-09-27 23:44] #50 closed, assigned to nobody

[2015-09-28 18:20] jacebrowning opened #65 "Replacing `Arg(dict)` with marshmallow?"
In `webargs < 0.16`, I have arguments defined as `Arg(dict, ...)`. How do I convert these to marshmallow fields? The [changelog](https://github.com/sloria/webargs/blob/dev/CHANGELOG.rst#0160-2015-09-27) shows examples with strings and nested arguments, but I couldn't find an example with `dict`.

[2015-09-28 22:45] sloria commented on #65
You can use a custom `Dict` field:

[code]

A `Dict` field will be added to marshmallow in https://github.com/marshmallow-code/marshmallow/pull/286 . Until that is released, the code above should meet your use case.

[2015-09-28 23:45] sloria commented on #41
This should now be fixed by virtue of using marshmallow's `field.Str()` rather than `Arg(str)`. That said, it appears that `get_query_argument` and `get_body_argument` are the preferred way to access request input, so I still think it's a good idea to change the implementation in `TornadoParser` to be consistent with those.

[2015-09-29 03:11] jmcarp opened #66 "Support delimited list parameters"
Currently, webargs supports list parameters in query strings using repeated parameters: `foo=bar&foo=baz`. But it's also a common pattern to encode lists in query strings using delimited values: `foo=bar,baz`, `foo=bar|baz`, etc. This is described using the `collectionFormat` in swagger: https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#fixed-fields-8. It would be helpful to

[2015-09-29 05:07] sloria commented on #66
The 1st option seems best. `List` is not meant to deserialize from strings, so that rules out 2. Option 3 doesn't seem ideal because you wouldn't be able to use the feature with dictionary argmaps.

[2015-09-29 05:08] #41 closed, assigned to nobody

[2015-09-29 05:09] sloria commented on #41
Arguments are now decoded to unicode strings. Thanks again for the suggestion.

[2015-09-29 13:08] jmcarp commented on #66
Agreed with everything you said, but the first option strikes me as a little underpowered. In most use cases, all list parameters for a given resource will be encoded in the same way (all repeated parameters, or all delimited parameters), so I still like a higher-level option--what about an argument passed to `parse` and `use_(kw)args`? That said, I still think the lower-level option is independen

[2015-09-30 02:09] sloria commented on #66
Good point. I want to avoid adding a custom `Schema` class in webargs for the time being. Would it be enough if the delimiter option were configurable at the Field class level _and_ as a constructor argument?

[2015-09-30 18:19] jmcarp opened #68 "Doesn't respect defaults"
As of 0.16, webargs doesn't respect default values for missing fields:

[code]

If `foo` isn't found in the request, it should default to "bar", but it actually defaults to `marshmallow.missing`. It looks like we used to check for `missing` in `Parser.parse_arg` and return the default value if available, so we could restore that behavior to fix. Does that seem like the right approach @sloria? I ca

[2015-09-30 18:32] sloria commented on #68
Try using the `missing` argument instead of `default`. `missing` defines the deserialization value when the input is missing.

[2015-09-30 18:42] jmcarp commented on #68
Meh. Can I not pass `missing` as `None`? Seems to raise an error.

[2015-09-30 19:14] sloria commented on #68
Yeah, the less-than-ideal naming comes from the fact that marshmallow fields can have different default values for deserialization vs. serialization.

The `missing` value still gets validated, so you will need to set `allow_none=True`. Perhaps this is a usability bug in marshmallow; it might make sense to set `allow_none=True` implicitly if `missing=None`.

[2015-09-30 19:30] jmcarp commented on #68
:+1: to (considering) that API change on marshmallow. Thanks @sloria!

[2015-09-30 19:30] #68 closed, assigned to nobody

[2015-10-01 01:54] sloria commented on #68
The above change is made in marshmallow 2.1.0.

[2015-10-01 02:16] sloria commented on #65
`Dict` field is in marshmallow 2.1.0, which is on the PyPI.

[2015-10-01 02:16] #65 closed, assigned to nobody

[2015-10-01 02:46] jmcarp commented on #68
Like!

[2015-10-02 03:41] #66 closed, assigned to nobody

[2015-10-04 16:12] #63 closed, assigned to nobody

[2015-10-08 01:20] imhoffd opened #69 "The substitute for 'use=lambda' in new API"
Just putting this here for others who may be wondering what to do after `use=` (the callable that let you preprocess the value, [see this](https://github.com/sloria/webargs/blob/0.15.0/webargs/core.py#L191-L192) in pre 0.16.0 code).

For 0.16.0 onwards, use of marshmallow is encouraged. Marshmallow brings a whole slew of serialization/deserialization features, which is exactly what you're doing wh

[2015-10-08 03:32] sloria commented on #69
Thanks @dwieeb!

Another way to get the same functionality as `use` is through a custom field.

[code]

[2015-10-08 03:58] imhoffd commented on #69
Interesting. Perhaps this could exist in the webargs codebase as `fields.Lambda` or `fields.Alter` or something?

[2015-10-08 04:22] sloria commented on #69
Perhaps in the future. In the interest of keeping the core small, I'm going to hold off on adding this to the code base for now.

[2015-10-08 04:32] imhoffd commented on #69
:+1: I agree.

Besides, I think I would actually prefer the marshmallow solution, as it allows access to other fields and does not require custom fields.

Thanks for webargs. With the marshmallow integration it's the best solution out there even without being "stable"... And I've used pretty much everything out there for flask, including rolling my own.

[2015-10-09 02:58] sloria commented on #69
Thanks for the encouraging words!

[2015-10-13 14:49] mTatcher opened #70 "Allow empty collections"
When a fields.List is being parsed, it returns 'missing' if list is empty. Why not return empty list instead?

[2015-10-14 12:29] mTatcher commented on #70
In core.py, parse_arg:

[code]

len(value) is checking if value is an empty list.
I suggest removing this check

[2015-10-14 13:09] sloria commented on #70
@mTatcher Yes, I think and empty list should be returned if an empty list is passed from the client. That incorrect check appears to be a remnant from webargs' pre-marshmallow days.

Pull requests welcome!

[2015-10-15 22:58] sloria opened #71 "Add aiohttp support"

[2015-10-16 03:33] #70 closed, assigned to nobody

[2015-10-19 01:14] #71 closed, assigned to nobody

[2015-10-21 10:35] DamianHeard opened #73 "Marshmallow Schema construction should be handled by Parser"
Hi @sloria. Loving the new marshmallow integration! Thanks so much.

I had a suggested tweak to the API I was hoping to run past you. Presently marshmallow schemas are used like:

[code]

I suggest it makes sense to push the construction of the schema instance into the `core.Parser` becoming:

[code]

This has a number of benefits:
- The current approach requires API users to explicitly set `stric

[2015-10-21 22:17] sloria commented on #73
Thanks for the suggestion, @DamianHeard . I think this is worth considering. You make good points about the API here. One alternative I can think of would be to pass a callable that takes the request. That would enable use cases such as:

[code]

Thoughts?

[2015-10-21 23:36] DamianHeard commented on #73
Thanks for you're prompt reply.

So yes I think some sort of setup callable would definitely be useful. In particular, this would solve one of my up coming feature requests in advice: **the ability to provide the request in the marshmallow context.**

The downside to this suggestion is that it's less declarative as the schema associated with the view is now slightly harder to find in the callable.

[2015-10-23 04:35] imhoffd opened #74 "Nested Fields Usage"
I've looked through the documentation and source code and now I just have to ask.

How do I format requests for endpoints that utilize nested fields? Can more documentation be written about nested fields than [what exists currently](http://webargs.readthedocs.org/en/latest/quickstart.html#nesting-fields)?

[2015-10-26 04:09] sloria commented on #74
Nested fields are useful for validating JSON bodies in requests.

What documentation do you think should be added? I would welcome a PR adding docs.

[2015-10-29 01:26] sloria commented on #73
I'm not sure adding a `callable` param is the most intuitive solution. What happens if a schema instance is passed? Would the `callable` have to handle both instances or classes? A function that returns an instance of a Schema seems more predictable.

You could still easily implement `use_args_with` :

[code]

[2015-10-29 01:44] DamianHeard commented on #73
How would you modify this approach to work when the schema is specified as a `dict`? Since the `Parser` is presently responsible for constructing the schema it wouldn't be available in the closure.

[2015-10-29 01:51] sloria commented on #73
[code]

Edit: Fix conditional.

[2015-10-29 02:36] DamianHeard commented on #73
Thanks for your speedy response.

While I don't love that it will certainly produce the required result. The main downside I see is that between the various parser implemention and the decorators there's already a lot of places converting `dict`s objects to `ma.Schema` and this would continue that proliferation rather than taking advantage of what's already been implemented.

I agree that in my su

[2015-10-29 03:38] sloria commented on #73
Good points in favor of passing a Schema class over an instance. However, I'm not sure we want to completely drop support for passing instances. Passing an instance can be useful (1) when the constructor args don't need to be dynamic and (2) for performance reasons (avoiding the overhead of instantiating a Schema).

The main advantage of allowing a callable is that it enforces the mutual exclusivi

[2015-11-07 19:31] imhoffd commented on #74
That's the part I didn't understand: that they can only be used with the **json** location.

As a side note, nesting of fields in query params and form params _could_ be possible with a delimiter, such as when querying in MongoDB.

`/people?name.first=Daniel&name.last=Imhoff` for example.

Would this interest you? Or do you think that is assuming too much, as it does reserve a character in webarg

[2015-11-07 20:01] sloria commented on #74
Indeed, `Nested` fields only make sense for JSON bodies with the default implementations because that's the only place you'll find nested data on the request.

You could, however, implement a parser that could read nested query parameters, though I do not think this functionality belongs in webargs. I know that filteralchemy (which uses webargs internally) has the concept of custom formatters for

[2015-11-07 20:25] imhoffd commented on #74
:+1:

[2015-11-07 20:25] #74 closed, assigned to nobody

[2015-11-07 20:54] sloria commented on #73
Added in https://github.com/sloria/webargs/commit/f77b288d5544ce6743bc823f9ee9e537920184fb

[2015-11-07 20:54] #73 closed, assigned to nobody

[2015-11-12 01:10] leonidumanskiy opened #80 "JSONDecodeError when using default locations and required=True argument"
When using default setup with aiohttp and default locations, the server will throw exception "json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)" if the client doesn't send the required parameter and there is no json data in the http request.

I am not sure if that's a bug or expected behavior, but that's absolutely counter-intuitive, especially if you just started to use the

[2015-11-13 09:44] frol opened #81 "Bulk-type arguments support"
I'm not sure whether this case can be nicely handled with webargs, but anyway let me know if there is already an elegant solution to the issue I have.

I'm implementing a PATCH method in my RESTful API following [RFC 6902](http://tools.ietf.org/html/rfc6902), so the arguments would look like this:

[code]

I have naively tried to pass `many=True` to my marshmallow schema, but it didn't work. Readi

[2015-11-14 00:05] oreza opened #82 "url parameters"
Hi,
I am new to Flask and I am very very new to webargs, I was wondering why you guys decided to treat segment parameters differently than other parameters (form, query, heads),  view_args is part of request object and why not provide a view as location collection to parse the view_args and than before passing it back to the end point you can make sure it doest not exist kwargs.

Cheers

[2015-11-14 06:24] sloria commented on #80
@leonidumanskiy I am not able to reproduce this bug. Can you please post code that is raising the error?

[2015-11-14 07:09] leonidumanskiy commented on #80
@sloria

[code]

[code]

See how I put absolutely random stuff to the post data. However, if you don't post any data in the query at all, the bug doesn't seem to work. Sorry I forgot to mention this detail in the initial post.

[2015-11-14 15:10] sloria commented on #80
Thanks for the clarification. I'll look into a fix for this today.

[2015-11-14 15:20] #80 closed, assigned to nobody

[2015-11-14 17:51] sloria commented on #82
Are you referring to something like this?

[code]

I suppose this might be OK. After all, aiohttpparser and pyramidparser have the `match_info` and `matchdict` locations.

My concern is how `use_kwargs` would interact with `app.route`, since the two will inject the same keyword arguments.

[2015-11-14 20:53] oreza commented on #82
Yes exactly,

I have not tested kwargs but wouldn't you be able to remove duplicate from kwargs before passing it the function (return func(_new_args, *_kwargs))?

If you want I can open a pull request, and you can look at it.

My personal reason for this is that  I have existing API, that has lots of EP with URL segment parameters and I want to use your library but I want to keep unified way to p

[2015-11-16 11:24] frol commented on #81
The closest thing I could get is using a wrapping schema with `Nested(many=True)` field, but this adds unnecessary extra layer, i.e.:

[code]

instead of

[code]

[2015-11-16 12:14] frol commented on #81
@sloria Could you please advise me whether I should avoid such approach or I can improve webargs to handle this case out-of-the-box? I've read the source code and, unfortunatelly, I don't see a way to implement this case in the current design because now `core.Parser.parse` asks `flaskparser.FlaskParser.parse_json` for a specific field name, but I want to parse a list as a first level object and t

[2015-11-17 02:17] sloria commented on #82
I would gladly review a PR for this. Thanks in advance!

[2015-11-17 02:19] sloria commented on #81
I think you present a valid use case and would gladly review a PR supporting it. Ideally, it would maintain backwards compatibility. I think we should be able to support

[code]

without breaking compat, though I haven't given much thought to the implementation.

[2015-11-17 02:23] sloria commented on #69
I've moved this to the Wiki here: https://github.com/sloria/webargs/wiki/Recipes . Thanks again @dwieeb !

[2015-11-17 02:23] #69 closed, assigned to nobody

[2015-11-17 02:26] frol commented on #81
@sloria I just want to let you know that I have managed to patch things up using custom Parser for this case and using virtual `'body'` argument (the parser just returns full JSON if the field name is `'body'`). It is not an elegant hack by any means, but it is the first step.

[2015-11-17 02:35] imhoffd commented on #69
You didn't need to do that; I'm not sure if a migration guide of a lesser used feature from an alpha version is helpful to people, especially as the 1.0 code base matures.

What's more important is that the documentation somehow shows the pre-processing and post-processing of schemas. Currently, there's just a link to the marshmallow api in the "marshmallow integration" section. People coming into

[2015-11-17 02:42] sloria commented on #69
I agree; I think it would be useful to have some documentation for pre- and post-processing behavior. I would certainly welcome a PR.

[2015-11-20 01:27] frol commented on #81
Here is my workaround described above (just for now): https://github.com/frol/flask-restplus-server-example/blob/master/flask_restplus_patched/parameters.py (Look at `JSONParameters` and `JSONListFlaskParser` classes)

[2015-12-14 00:54] #82 closed, assigned to nobody

[2015-12-22 13:19] immerrr opened #84 "Raise a validation error if multiple query parameters are specified for non-List fields"
As of now, at least `flaskparser`, not sure about the others, fetches anything other than the first query parameter only if the field is a `List`. I think an error should be raised if multiple query parameters or headers are passed and only one value is expected by the schema, at least by default.

[2015-12-26 18:13] sloria commented on #84
I'm not sure about this. I understand why you would want an error to be returned. On the other hand, ["Generous on input, strict on output"](http://tedwise.com/2009/05/27/generous-on-input-strict-on-output/) could be considered a valid rule of thumb.

I welcome other users' feedback on this.

For the time being, one workaround would be to override querystring parsing.

[code]

[2015-12-27 02:43] brettatoms commented on #81
+1

Unfortunately the best way to handle this is to use marshmallow directly:

`operations, err = OperationSchema().load(request.get_json(), many=True)`

[2015-12-28 03:52] sloria commented on #59
Holding off on this for now. Projects such as [flask-apispec](https://github.com/jmcarp/flask-apispec) show that argument data and metadata can be extracted without having to store them intenally in webargs.

[2015-12-28 03:52] #59 closed, assigned to nobody

[2015-12-28 16:01] immerrr commented on #84
The problem with accepting multiple values where only one is expected is that there's an ambiguity about which option should work, e.g if user does `?delete=true&...&delete=false` I would really refuse the temptation to guess or rely on the fact that normal parsers would reliably return the first value all the time. For all we know, the user might just be writing a long query manually and forget t

[2015-12-29 06:26] sloria commented on #84
Fair points. I do not feel strongly in favor of allowing multiple values for singular fields, so I would likely accept a PR implementing this change.

On a related note, I'm not sure whether to consider this a breaking change or not...

[2016-01-22 19:18] ParthGandhi opened #85 "Unused `status_code` field in `ValidationError`?"
I'm trying to figure out how to return specific status codes from validation errors. Looks like it always returns a `422`, ignoring whats specified in the `ValidationError`.

[code]

Then: `curl -v http://localhost:5000?test_field=hello` returns `422 Unprocessable Entity` instead of `500 Internal Server Error`.

[2016-01-26 02:50] sloria commented on #85
This is a known bug. Since marshmallow catches `ValidationErrors`, collects and formats them, then reraises _a new_ `ValidationError`, there is currently no way to use the `status_code` attribute in a webargs Parser's `error_callback`.

I welcome any help and ideas on how to address this.

[2016-02-08 16:44] freddrake opened #86 "Debian packaging for Python 2"
When building .deb packages using stdeb, the `webargs.aiohttpparser` and `webargs.async` modules are included, but cause errors during installation due to Python 3 syntax:

[code]

I used this command to generate the .deb package:

and this command to install the generated .deb on an Ubuntu 14.04.3 system:

This can be avoided by removing the files from the distribution when using Python 2.  I'm n

[2016-02-12 22:48] ParthGandhi opened #87 "Option to throw error on extra arguments"
When a request has more arguments than are specified in the parser it silently ignores them. I see a related discussion in [#28](https://github.com/sloria/webargs/issues/28).

Personally I don't think silently ignoring is the correct thing to do, but changing the default behavior would be backwards incompatible. How about `parse` takes a `strict` option that throws an error in cases like this?

[2016-02-12 23:19] ParthGandhi commented on #87
This isn't as simple as I originally thought. Theres no easy, generic, way of knowing what parts of the request body haven't been parsed yet. Any suggestions?

[2016-02-14 16:49] citizen-stig opened #88 "Webargs does not support Marshmallow "load_from" field attribute."
I have a following schema:

[code]

[2016-02-14 18:26] sloria commented on #88
I am unable to reproduce this bug. The following test passes:

[code]

Can you please post code to reproduce the error?

[2016-02-14 18:55] sloria commented on #87
You might be able to do the validation for extra arguments in a `pre_load` method of a marshmallow Schema.

[code]

[2016-02-15 22:43] tonycpsu opened #89 "Using location="view_args" results in duplicate arguments"
I'm trying to use the view_args functionality as implemented in #82.  Here's my test code:

[code]

The first `get` method (commented out) works, but the values are in `args` and I'd rather have them passed as function parameters.  So I tried the second `get` method with `foo` and `bar` as function parameters, but get the following error:

[code]

Am I using this functionality wrong?  My expectati

[2016-02-16 22:28] citizen-stig commented on #88
Yes, I also could not reproduce this now. Probably it was wrong parameter name

[2016-02-16 22:28] #88 closed, assigned to nobody

[2016-02-17 19:49] ParthGandhi commented on #87
@sloria Don't think that works. [`parse`](https://github.com/sloria/webargs/blob/dev/webargs/core.py#L327) sends the result from `_parse_request` to `load`. Since `_parse_request` specifically uses the schema to parse the request it doesn't include any extra data.

I've been able to find a workaround for my use case (using Flask) where I patch `_parse_request` to include any extra data from the re

[2016-02-18 04:46] sloria commented on #89
`use_args` injects a dictionary of parsed arguments before any of the path URL kwargs, so your view should look like:

[code]

[2016-02-18 07:18] tuukkamustonen opened #90 "Defining location for a block of fields"
Reading the docs, I can see that one can restrict locations for all parameters as whole as in:

[code]

But if I mix parameters from different locations together (and I only accept parameter from one location), I still need to provide `location` for each parameter separately:

[code]

Is it ok to provide `@use_args` twice to achieve something like:

[code]

Or could we do it via nesting or somethi

[2016-02-18 16:52] tonycpsu commented on #89
Cool, that works. Thanks!

[2016-02-18 16:52] #89 closed, assigned to nobody

[2016-02-20 12:47] frol commented on #81
Just to let everybody know, I'm working on this now. I have had a proof of concept, which I have successfully turned into a patch, but I'm also working on another improvement for apispec, so I will release make PRs shortly once I confirm they work for my project.

[2016-03-07 06:49] davidthornton opened #92 "Field not validated when using Decimal(as_string=True)"
When we do something like this

`'value': fields.Decimal(required=True, as_string=True),`

With this as input:

`{ "value": 123.2, ... }`

Webargs does not throw a 422 unprocessible entity error. We're using python flask, sqlalchemy and marshmallow, and we've looked all over at our code. Is it possible that this is an issue with webargs?

Thanks

[2016-03-07 14:38] brettdh opened #93 "use_kwargs documentation shows positional args"
Unless I am _very_ confused, the examples showing the use of the `@use_kwargs` decorator show it decorating functions with positional args; e.g.

[code]

I got very confused at first thinking that webargs must be doing some magic to make sure that the positional arguments get the right values based on their names. Though it was confusing, I followed the docs and tried to use `use_kwargs` with a lo

[2016-03-07 16:09] brettdh opened #94 "Docs: requesting custom field examples using marshmallow Field/Method"
Added this test case to test_flaskparser.py:

[code]

Result (cleaned up a bit):

[code]

Same failure on Python 2.6, 2.7 (didn't test Python 3).

[2016-03-07 17:30] brettdh commented on #94
Whoops. See marshmallow-code/marshmallow#409

I would like to request that examples be added to the webargs docs using `Function` and `Method` fields, as the context shift from the deserialization-focused world of webargs and the serialization-focused custom field examples led me off in the wrong direction. I will updated the issue title to reflect the change, but I think the original example is u

[2016-03-08 04:58] sloria commented on #92
`as_string` only affects serialization behavior, not validation/deserialization. See https://marshmallow.readthedocs.org/en/latest/api_reference.html#marshmallow.fields.Decimal . If you want to validate that the input must be a string, you could create a custom field that subclasses `marshmallow.fields.Decimal`.

[2016-03-21 22:13] yyyyyyuanfei commented on #65
I am trying to pass in a complex criterion dict in the querystring as shown below:

`/companies?where={'revenue': {'$in': ['$100-$200']}}`

The controller definition:

[code]

It seems the `where` arg is not parsed as a dict, but an unicode, when `marshamallow` tests it again the `collections.Mapping` it failed.

Am I missing anything to make it as a dict in the preprocess?

Thanks!!

[2016-03-22 01:52] sloria commented on #65
@stranbird That is the expected behavior; `fields.Dict` does not expect to receive strings as input, and webargs does not do any special preprocessing. One solution is to create a custom field:

[code]

[2016-03-23 00:16] yyyyyyuanfei commented on #65
@sloria neat solution, ty!

[2016-03-30 09:38] ghost opened #96 "Datetime Field parsing inconsistency"
I am using flask-restful with webargs to parse my http requests, I have one field which is datetime.
`agent_args={
    'date':fields.DateTime(required=True)),
}`

now in url, when i send as query parameter date=18/3/2016, 18 is mapped to day, 3 month and 2016 to year but if i send 12/3/2016, 12 is mapped to month while it should be day

[2016-03-30 11:14] ghost commented on #96
I think this behaviour is because it is trying to guess the format, i have supplied the format='iso8601' to DateTime and it is able to determine the date object. what is the way to feed your custom format ?

[2016-03-30 19:50] #96 closed, assigned to nobody

[2016-04-04 03:31] #81 closed, assigned to nobody

[2016-04-04 03:36] #92 closed, assigned to nobody

[2016-04-04 17:11] #94 closed, assigned to nobody

[2016-04-04 17:40] sloria commented on #94
I've added a section in the docs that exemplifies the `deserialize` argument passed to `Method` and `Function`.

Feel free to send a docs PR if you think the docs can be clarified further.

[2016-04-04 17:45] sloria commented on #93
`use_kwargs` simply deserializes request input data, then splats the resulting dictionary into the view (i.e. `**deserialized_data`.

I'm not sure why you are seeing the error you are seeing. Can you post code to reproduce it?

[2016-04-04 22:47] #85 closed, assigned to nobody

[2016-04-05 02:39] sloria opened #98 "Refactor tests"
The tests can be DRY'd up significantly. I suggest the following:
- [ ] Implement the same HTTP API across all the supported frameworks
- [ ] Use webtest to test endpoints; create a base test class that tests common functionality

[2016-04-05 15:16] brettdh commented on #93
Oh wow, apparently there was a hole in my understanding of keyword args in Python - specifically, that they can be used to set positional arguments by name (second example [here](https://docs.python.org/2/tutorial/controlflow.html#keyword-arguments)).

Based on the timing of my initial post and some others that I posted, I suspect that this may have occurred during my confusion about `default`, `r

[2016-04-05 15:16] #93 closed, assigned to nobody

[2016-04-08 18:01] #98 closed, assigned to nobody

[2016-04-08 19:00] sloria commented on #90
I have just confirmed that "stacking" `use_args` works.

[code]

The decorator shortcuts could easily implemented with partial

[code]

In the interest of keeping the webargs API small, I probably won't be adding these into the codebase. They're simple enough for users to implement.

[2016-04-08 21:27] #90 closed, assigned to nobody

[2016-04-08 21:39] frankslaughter opened #100 "tornadoparser 'use_args' example in documentation has arguments transposed"
Arguments in the `post` method below are transposed. The `id` argument should come before `reqargs`, e.g. `def post(self, id, reqargs):`

More generally, the dictionary of parsed arguments is passed as a positional argument after self **and** any regex match groups which are passed by tornado as arguments to the request handler's get/post/etc. method.

[code]

[2016-04-08 21:55] frankslaughter opened #101 "dictionary based webargs usage 'leaks' memory"
`argmap2schema` in `core.py` creates an `ArgSchema` each time a tornado request handler get/post/etc. method is called. Each ArgSchema is registered with the marshmallow class registry, so it is not dereferenced when the request handler completes.

I don't have a suggestion for how to deal with this. The workaround I chose was to switch all of my webargs usage to either the `use_args` decorator, o

[2016-04-08 22:17] #100 closed, assigned to nobody

[2016-04-08 22:17] sloria commented on #100
Thanks for reporting. I've updated the docs with the correct behavior.

[2016-04-08 22:30] sloria commented on #101
Thanks for the thorough report. This is somewhat of a known issue. One solution is to prevent `ArgSchema` from getting added to marshmallow's class registry, though I haven't given much thought to implementation yet.

I would certainly review and merge a PR for this.

[2016-04-08 22:31] frankslaughter commented on #100
great, thanks!

[2016-04-09 00:46] sloria commented on #101
Also, this isn't specific to the Tornado parser. I hope you don't mind that I've updated the issue title accordingly.

[2016-04-09 00:57] frankslaughter commented on #101
I was pretty sure that was the case, but since I only tested it with Tornado I didn't want to overstate my claim. Thanks for fixing the title.

[2016-04-09 01:09] sloria commented on #101
I think I have a fix for this. It requires a minor change in marshmallow. I'll release the fix with marshmallow 2.7.1 and webargs 1.3.1.

[2016-04-09 01:25] frankslaughter commented on #101
That's a slick fix. I like it.

[2016-04-09 01:29] #101 closed, assigned to nobody

[2016-04-09 01:31] sloria commented on #101
The fix is now on `dev`. Unfortunately, there seems to a be a problem with uploading tarball distributions to PyPI at the moment, so I'm going to hold off on releasing 1.3.1 for today. Hopefully that gets resolved soon so we can release this hotfix.

[2016-04-09 02:02] sloria commented on #87
@ParthGandhi Indeed, there isn't really a straightforward, framework-agnostic solution for this that I can think of. I'm going to close this for now, but I'd be glad to to see your workaround so that others may benefit from it.

[2016-04-09 02:02] #87 closed, assigned to nobody

[2016-04-09 06:51] tuukkamustonen commented on #90
@sloria That's pretty neat, thanks!

For me this is fine, but considering the overall user-friendliness of the library, I think it would make sense to add those couple of lines to the codebase. It's way more descriptive to specify `@headers` and `@cookies`, etc. and I assume people are rarely mixing the `locations` anyway.

Though this is just my assumption, I suggest to reconsider :)

[2016-04-09 13:13] sloria commented on #90
@tuukkamustonen It wouldn't just be a couple lines. It would be 6 lines for each of the locations \* 8 frameworks = 48 LOC, plus tests. Also, naming is a bit tricky; `@json`, for example, would shadow the oft-imported `json` from the stdlib.

I would be much more open to adding a section in the [Advanced Usage](https://webargs.readthedocs.org/en/latest/advanced.html) docs that had snippets for sho

[2016-04-11 18:22] tuukkamustonen commented on #87
@ParthGandhi I would be curious to see your solution as well. It seems the flexibility in supporting multiple/varying locations per argument / set of arguments makes this one problematic...

[2016-04-12 07:52] tuukkamustonen commented on #87
@sloria I sketched something from your pointers. It's possibly close to what @ParthGandhi has been doing:

[code]

The implementation is bound to Flask now, and I do see the problem of making it cross-framework compatible. I only tested JSON location yet, so not sure if the others really work.

Also, this "no extras" feature is probably only wanted for JSON payloads, forms, files and maybe query p

[2016-04-12 08:24] alksef commented on #101
Incorrect test above.

[code]

"ru_maxrss  maximum resident set size" (https://docs.python.org/2/library/resource.html#resource.getrusage)

[code]

https://pythonhosted.org/psutil/#psutil.Process.memory_info

[2016-04-13 09:08] ksesong opened #103 "Using 'use_kwargs' with a callable"
When we use the `use_kwargs` method with a callable (that accepts a `request` and returns a `Schema` instance), [like in this example with `use_kwargs`](http://webargs.readthedocs.org/en/latest/advanced.html#reducing-boilerplate): an error raises [here](https://github.com/sloria/webargs/blob/dev/webargs/core.py#L360), as the `argmap` is now a `callable`, not a `dict`.

[code]

`get_field_names_for

[2016-04-14 04:03] #103 closed, assigned to nobody

[2016-04-14 04:07] sloria commented on #103
Thanks for reporting. I've released a hotfix for this.

[2016-05-02 15:29] ijstokes opened #105 "webargs.async and webargs.aiohttpparser contain un-guarded Python 3 syntax"
`pip install webargs` or `setuptools`-based install `python setup.py install` of `webargs` when using Python 2.x results in `SyntaxError` on either of these statements:

[code]

Perhaps it makes sense to incorporate an import guard that would raise an `ImportError` instead, or something that would more clearly indicate that those sub-modules aren't available when using Python 2.x

Incidentally, I

[2016-05-02 16:40] freddrake commented on #105
Isn't this the same as issue #86?

Ultimately, the problem is that tools attempt to force byte-compilation without considering syntax errors being reported during parsing (not execution).  There's nothing that can be done about this from within the code of the offending modules, aside from avoiding Python 3 syntax completely.  I'm not sure there's a valid reason for that in the case of these parti

[2016-05-02 16:44] freddrake commented on #105
Alternately, these modules could be dropped from installations targeting Python 2.

Making the tools (setuptools, pip, the Debian install process) more resilient is probably the better approach, because it applies to all packages, rather than forcing all affected packages to worry about this. But this can be reasonably argued either way.

[2016-05-23 11:54] claytonbonelli opened #106 "webargs with Django REST Framework"
Hi,

I'm trying to use the webargs with the Django Rest Framework and I have failled.

Please, see my code:

from webargs import fields
from webargs.djangoparser import use_args
from rest_framework.views import APIView

purchase_args = {
    'test': fields.Str(required=True),
}

class AnimalGroupPurchase(APIView):

[code]

From my browser I sent a POST with a JSON, but I got the following error me

[2016-05-29 06:30] shaicantor opened #107 "nullable List field"
Hi,

When passing null in a List field, it is deserialized as [None]. (e.g. return [val])
Is there a way to for it to be deserialized as None without workarounds like pre_load or post_load decorators?

[code]

[2016-05-29 15:16] sloria commented on #107
Thanks for reporting, @shaicantor . That certainly isn't the desired behavior; `None` should deserialize to `None`. The problem does appear to be in `get_value`, as you've suggested.

I would certainly review and merge a PR fixing this.

[2016-05-29 23:10] sloria commented on #106
I think you're getting that error because DRF reads the JSON request body and puts it into `request.data`.

You can add a [custom location handler](http://webargs.readthedocs.io/en/latest/advanced.html#custom-location-handlers) for `request.data`.

[code]

[2016-05-29 23:12] sloria commented on #105
There doesn't seem to be a clean way to do this in `setup.py`, though I may be missing something.

One alternative would be to separate the aiohttp code into a separate package. It's really not ideal though, because that would be a breaking change.

[2016-05-30 02:02] #107 closed, assigned to nobody

[2016-05-30 02:02] sloria commented on #107
This should now be fixed on `dev`.

[2016-06-03 23:30] JivanRoquet opened #108 "Is there a way to differentiate exposed and internal field names?"
Hi,

The JSON-API specification imposes a hyphens-delimited writing style for querying additional filters like:

[code]

The specification actually says that there **must be** at least one hyphen in each field name, so a pretty common solution is to make all one-word fields begin by `is-` (like in `is-published`, `is-deleted`...).

However, those fields are very likely to be named in a different w

[2016-06-04 00:00] sloria commented on #108
Yes; try the `load_from` parameter.

[2016-06-04 04:50] JivanRoquet commented on #108
That is awesome, thanks. My bad from missing it in the "Basic Usage" section of the docs.

[2016-06-04 04:50] #108 closed, assigned to nobody

[2016-06-10 02:09] sloria opened #110 "Fix compatibility with Falcon 1.0"

[2016-06-11 16:52] #110 closed, assigned to nobody

[2016-06-11 16:59] #106 closed, assigned to nobody

[2016-06-16 05:50] dswhite42 opened #111 "Error message is unhelpful for List fields with OneOf requirements"
I want to accept multiple values for "units", but I want them to be limited to certain values (minutes, days, hours, years).  But given this:

`args = {'units': fields.List(fields.Str(validate=validate.OneOf(['minutes', 'days', 'hours', 'years'])))}`

and this URL:

`http://localhost/test?units=days&units=hours&units=years&units=foobar`

the error message looks like this:

[code]

Can the error me

[2016-06-22 02:45] sloria commented on #111
The error message for the `OneOf` validator can be customized with the `error` argument:

[code]

See http://marshmallow.readthedocs.io/en/latest/api_reference.html#marshmallow.validate.OneOf .

Does that meet your use case?

[2016-06-22 02:53] dswhite42 commented on #111
I think it does.  It would still be handy if the dict of error messages had the field name as the key rather than the list index.  (That way `http://localhost:5001/test?units=eons&units=eons&units=eons` would only produce a single error message with the key "eons" instead of three errors for index 0, 1, 2)  But that's minor.  I think your solution will be fine for what I need.  Thanks for the poin

[2016-06-24 15:42] lafrech opened #112 "Using webargs to parse more complex query arguments (string or comparison operators,...)"
I would like my API to offer basic query features, like not only get item by ID but also using operators on item attributes:

[code]
#### Proof of concept

Here is what I've done so far. I did not modify webargs code. I'm only subclassing in my own application.

I've been searching around and didn't find a universally accepted norm specifying such a query language. In my implementation, I'm using

[2016-06-24 16:58] frol commented on #112
@lafrech Thank you for this interesting idea!

Here are my thoughts on this matter:
- While suffixes are fine from URL point of view, they would look bloated in Swagger config since you will have every parameter expanded into 6 or 8 parameters (depends on the parameter type: number or string). This is why I probably won't implement querying this way.
- What are the options? I haven't thought on th

[2016-06-24 17:57] lafrech commented on #112
Thanks @frol for the feedback. I'll be investigating this next week.

Just a quick note to add that on second thought, I should probably use a [custom parser](http://webargs.readthedocs.io/en/latest/advanced.html#custom-parsers).

[2016-06-26 06:21] timfeirg opened #113 "feature request: one of several optional fields must be present"
I think it's quite common that when defining a set of argument fields, one of several optional fields must be present (although each one of them is optional).

Are there currently anyway to achieve this?

[2016-06-26 06:52] benregn commented on #113
In projects at work we've used a validator to check that at least one field is present:

[code]

Used like this:

[code]

[2016-06-26 07:25] #113 closed, assigned to nobody

[2016-06-29 03:11] sloria commented on #111
OK, closing this for now. Feel free to report any improvements to the error handling in the marshmallow github issue tracker.

[2016-06-29 03:11] #111 closed, assigned to nobody

[2016-06-29 03:34] brijeshb42 opened #114 "How to validate dynamic keys from JSON"
In my use case, in different requests, the keys in the json will be different.
For ex:
Request 1:

[code]

Request 2:

[code]

The structure of key's value will be same, but key names will be different.

How do I first validate that the key name itself first is a String, and then validate the value dictionary?

[2016-07-10 14:02] alexpantyukhin commented on #114
Hi!

I think that this question is more suitable for this https://github.com/marshmallow-code/marshmallow repo.

As for me I would create some class with base `Dict` class https://github.com/marshmallow-code/marshmallow/blob/dev/marshmallow/fields.py#L1030  and implement similar logic like it's done in the `List` class https://github.com/marshmallow-code/marshmallow/blob/dev/marshmallow/fields.py#

[2016-07-12 20:29] zwing99 opened #115 "compatibility with chalice"
I know this feels like "hot of the press" requesting. But it seems it would be not that hard to allow this to integrate with AWS's new chalice micro framework. See: https://github.com/awslabs/chalice and https://aws.amazon.com/blogs/developer/preview-the-python-serverless-microframework-for-aws/ .

I can imagine many users wanting this.

[2016-07-13 01:42] sloria commented on #115
Thanks for the suggestion. It does look like it would be straightforward to integrate chalice with webargs.

I think an initial iteration would best be implemented as a separate library (i.e. `webargs-chalice`), at least while chalice is in an alpha state.

[2016-07-16 09:18] timfeirg opened #116 "use import statements instead of modifying globals() in webargs.fields"
Inside [`webargs.fields`](https://github.com/sloria/webargs/blob/dev/webargs/fields.py#L28), `globals()` were modified in order to import all fields except `Nested` from marshmallow, I see two shortcomings in this:
- [`jedi`](https://github.com/davidhalter/jedi) won't be able to collect marshmallow fields from webargs
- hurts readability

can I send a PR to change this into `import` statements? It

[2016-07-17 09:10] marcellarius commented on #116
I'd definitely like to see this changed. It defeats Pycharm's code analysis/completion too and makes webargs.fields a pain to use vs. using marshmallow.fields directly.

[2016-07-18 09:39] ghost commented on #38
This is old, but I also believe validation errors should be returning 400. 422 is a webdav extension and is not included in RFC 7231 https://tools.ietf.org/html/rfc7231

[2016-07-26 03:11] dswhite42 opened #117 "FEATURE REQUEST: Parse arguments that are passed in directly, bypassing an HTTP request"
I've been happily using webargs for an app I'm developing that has both a web and API component.  The API can be called directly (with arguments passed in as JSON data), or a user can go the web interface and submit their requests there.  Under the hood, the web interface calls the API (via the "requests" module) and returns the data.

What I'd like to change is to eliminate the "requests" module

[2016-07-27 21:23] jasonab commented on #116
I've changed my imports to directly importing fields from marshmallow to avoid the PyCharm issues

[2016-07-27 21:33] jasonab opened #118 "load_from is overriding field name, instead of acting as an alias"
In the Marshmallow docs, load_from is specifically named as an alias to the field name:

However, core.py line 276 uses the load_from name to override the arg name, if load_from is specified. This is not in line with marshmallow behavior.

[2016-07-28 15:40] JASON0916 opened #119 "Handling redundant args in query string"
I met a problem  when i use webargs to parse a api allow GET method. The query string contains something like `/api/xxx?id=&cno=&cs_name=jason&phone_date=&operator=&uodated_at=`
and i  use webargs in below way. The 400 was returned. Seems there is something wrong with the args.

[code]

I read about the document and examples and can not find a way to filter the redundant args in query string, is t

[2016-07-28 15:48] JASON0916 commented on #119
I use flask code below to fix the problem temporarily, is there any better method?

[code]

[2016-08-05 05:25] #114 closed, assigned to nobody

[2016-08-05 09:06] ghost opened #120 "`fields.Nested` missing in the request returns an empty list `[]`"
Hi, I would like to report a weird behavior I've stumbled upon. Consider we have the following schemas..

[code]

when I try to pass a request containing only the `outer_field_one`, I tend to get both the `outer_field_one` and `outer_field_three` with second one containing an empty list `[]`. I'm expecting that since I didn't include `outer_field_three` in the request, it shouldn't be included.

I

[2016-08-08 08:59] gowhari commented on #29
For newer versions `many` works:

[code]

[code]

[2016-09-22 08:02] frol opened #122 "ValidationError causes HTTP/500 in Flask instead of HTTP/422 in Python 2"
Here are the symptoms: http://stackoverflow.com/questions/37321835/flask-error-handler-not-able-to-handle-assertion-error/39624893#39624893

Here is the case where I personally hit the issue with Python 2.x and PyPy in Python 2.x mode only: https://travis-ci.org/frol/flask-restplus-server-example/builds/161685419

After troubleshooting, I discovered that this issue stems from the `FlaskParser.hand

[2016-09-23 02:20] pyup-bot opened #124 "Initial Update"
Hi 👊

This is my first visit to this fine repo, but it seems you have been working hard to keep all dependencies updated so far.

Once you have closed this issue, I'll create seperate pull requests for every update as soon as I find one.

That's it for now!

Happy merging! 🤖

[2016-09-23 02:25] #124 closed, assigned to nobody

[2016-09-27 16:32] cmuell89 opened #125 "Validating Variable URL Parameters"
Hey @sloria ,

Really like webargs. Good stuff.

I am building a backend JSON API using Flask-Restful. Flask's ability to parse out variable URL's is very convenient with GET requests. I would like to validate the input passed in as the 'classifier' variable paramter to my get(self, args, classifier) method (see below for an example). I've attempted to add a custom location onto the flask parser v

[2016-09-28 02:48] sloria commented on #125
I think the `'view_args'` location should meet your use case.

[2016-09-30 01:50] #122 closed, assigned to nobody

[2016-09-30 01:52] #125 closed, assigned to nobody

[2016-09-30 01:54] sloria commented on #119
I'm not sure I completely understand the problem. What error are you seeing? You may need to pass `allow_none=True` to your fields if you want to allow `None` as input.

[2016-10-10 17:06] dev-zero opened #126 "Support for schemas generated using marshmallow-sqlalchemy"
I am using marshmallow-sqlalchemy via Flash-Marshmallow to auto-generate a schema using a SQLAlchemy model with the following schema definition and Flask-RESTful resource:

[code]

what I get when I try to POST with the correct arguments is:

[code]

Not sure whether this bug should rather be reported against marshmallow-sqlalchemy, though.

[2016-10-13 04:51] nickw444 commented on #122
I'm not entirely sure if this is an error on my part, but I think this has caused issued with a few of my project's error handlers.

My error handlers are no longer being trapped into. Simply making a flask error handler for HTTP 422 which prints "hello world" doesn't run, and the browser responds with:

[code]

Rolling back to 1.3.4 fixes this (as this was the old functionality).

I'm running Pyt

[2016-10-13 06:05] frol commented on #122
@nickw444 Your error handlers were working because HTTP/500 occurred during the default handling, so you, actually, depended on a buggy implementation. You need to override Webargs Parser `error_handler` and use your customized Parser class.

[2016-10-13 07:43] nickw444 commented on #122
Interesting. I just isolated this into it's own thing. I think this actually is happening due to something with the way I'm using Flask-Restful.

The sample:

[code]

### Accessing the flask endpoint `/`:

Response:

[code]

As expected. The error gets handled with the error handler, which returns a 200 (In reality I would still return the 422).

### Using the flask-restful resource:

[code]

The

[2016-10-13 07:57] nickw444 commented on #122
Just had a quick play with the flask-restful code. It looks like it's hijacking the handling of all HTTPExceptions, stopping the app error handler from getting it's hands on it. And this makes sense why it was working before, since a non-http error was being thrown.

[2016-10-13 08:30] frol commented on #122
Here is what happened before my fix:
1. Request is received
2. Webargs parsing it in FlaskParser
3. If validation failed, `handle_error` is called
4. `handle_error` called [`abort(status_code, messages=error.messages, exc=error)`](https://github.com/sloria/webargs/blob/729fea5dc07c69175cf1b979633391d175e5cda5/webargs/flaskparser.py#L105)
5. `abort` [patches the HTTPException passing all `**kwargs`

[2016-10-13 08:49] nickw444 commented on #122
Wow that makes perfect sense! Thanks for the in depth explanation.

So from here it looks like I have 2 choices
1. Override `error_handler` in webargs.flaskparser to return the error message to the client?
2. Submit a pull for restful to allow propagation of `HTTPException`s (which is unlikely to be merged)

I guess option 1 would be the one to take. It's unfortunate that flask-restful doesn't hav

[2016-10-13 08:59] frol commented on #122
I took the option 1 in my project: https://github.com/frol/flask-restplus-server-example/blob/8118f66e3c9c505da1b92f3373c4b3c583af3bf6/app/extensions/api/webargs_parser.py

I am not sure how this can be handled in a better way, so if you happen to find a better solution, please, share.

[2016-10-14 01:01] nickw444 commented on #122
Thanks for the example. I ended up implementing this kind of differently. I wanted to break out of Flask-Restful entirely if a validation exception occurred, since I didn't want the response to be subject to the flask-restful representation handler response.

So now my parser just raises the original ValidationError, which can be handled in Flask using a standard error handler for ValidationError.

[2016-10-18 20:58] avilaton opened #127 "Question: Moving from field dict to marshmallow schema requires using strict=True"
I introduced webargs into my project and started out building a parser using a dict of fields:

[code]

which worked out great when using `@use_kwargs(user_args)`.
I then refactored this into a Marshmallow Schema

[code]

and changed `@use_kwargs(UserSchema)` and it blew up. After a lot of reading, I learned that `strict=True` makes a schema raise exceptions on validation which I think is what we

[2016-10-18 21:42] lafrech commented on #127
There's a note about this in the docs:

http://webargs.readthedocs.io/en/latest/advanced.html#marshmallow-integration

[2016-10-19 14:36] avilaton commented on #127
Closing with RTFM. Thanks @sloria.

[2016-10-19 14:36] #127 closed, assigned to nobody

[2016-10-19 15:48] avilaton commented on #126
@dev-zero please add more info. How is the `Calculation` model defined and what is the payload you are POSTing?

[2016-10-20 02:30] #115 closed, assigned to nobody

[2016-10-22 14:12] dev-zero commented on #126
the definition of the calculation model is:

[code]

The curl call was something like the following (if I remember correctly, since I don't have the original one anymore):

[code]

[2016-10-23 14:56] sloria commented on #126
@dev-zero You are seeing that error because Schemas generated with marshmallow-sqlalchemy deserialize data to a `Model` instance (i.e. a `Calculation`) by default.  If you use `use_kwargs`, the Schema you pass must return a `dict`.

Two solutions:
- Use `use_kwargs` and override the `make_instance` hook of your schema

[code]
- Use `use_args` , which will pass the model instance to your view

[cod

[2016-10-23 15:38] sloria commented on #126
I've added a note in the docs which will hopefully clarify this behavior.

[2016-10-23 15:38] #126 closed, assigned to nobody

[2016-10-23 15:49] sloria commented on #120
I wrote a test to attempt to reproduce this issue:

[code]

But this test passes.

What versions of webargs and marshmallow are you using?

[2016-10-23 17:35] bdewilde commented on #120
@sloria: I've had this same issue using `webargs` 1.4.0 and `marshmallow` 2.10.3 — when doing a partial update via PUT request, all nested, many fields were being overwritten with empty arrays if they weren't included in the update. Not sure if this matters, but I'm parsing the `OuterSchema` equivalent via `@use_args` and `partial=True`, with additional parameters via `@use_kwargs`.

[2016-10-28 18:45] jasonab opened #142 "Falcon parser fails on python 3.5 due to args list"
get_request_from_view_args() in falconparser.py assumes that the second request is a falcon.Request object. Instead, it's the first argument (since self is not passed into the arg list). I'm not sure if this is a python 2/3 issue or not.

[2016-10-28 20:50] #142 closed, assigned to nobody

[2016-10-28 20:50] jasonab commented on #142
Nope, user error (no surprise).

FYI to anyone else who sees this, you have to feed Falcon instances of your resources, unlike (say) Flask or Flash-Restful.

[2016-11-02 19:46] tinproject opened #143 "Docs: Validator function output behavior not clear for implicit None return."
The [docs](https://github.com/sloria/webargs/blob/dev/docs/quickstart.rst#validation) about validation functions tells that:

but the example below don't have a `return` statement, so an implicit `None` is returned. In this case is not clear in the documentation if the validator is seen as succeed or failed if a None is returned.

What is the expected behavior in this case?

[2016-11-06 15:54] #143 closed, assigned to nobody

[2016-11-06 15:55] sloria commented on #143
Thanks for reporting. Validators that return `None` will _pass_ validation. I've added a note about this in the docs.

[2016-11-06 16:02] sloria commented on #118
@jasonab Just for my understanding: are you expecting that the field name is present in the request, that will be the key used in the errors output?

Example: Given an argdict `{'content_type': fields.Str(load_from='Content-Type', required=True)}`, webargs will first check if `content_type` is in the request before checking `Content-Type`. The errors output will be something like `{'content_type':

[2016-11-06 16:03] sloria commented on #119
Closing this for now. Feel free to comment and reopen if you need further clarification.

[2016-11-06 16:03] #119 closed, assigned to nobody

[2016-11-06 16:09] sloria commented on #116
Since marshmallow's `fields` module is relatively stable, I would be open to this change. It does add maintenance burden to keep webargs.fields up to date--perhaps we could add a test that ensures that `webargs.fields` contains all the Field classes in `marshmallow.fields`.

[2016-11-06 16:11] sloria commented on #86
Closing this. Further discussion should happen on #105.

[2016-11-06 16:11] #86 closed, assigned to nobody

[2016-11-06 16:15] sloria commented on #112
Good discussion here. I'm going to close this for now, though, since API filtering is outside the scope of webargs.

[2016-11-06 16:15] #112 closed, assigned to nobody

[2016-11-06 16:17] sloria commented on #117
This is an interesting idea. I don't have plans to add this in the near future, but I would certainly review a PR with a proof-of-concept.

[2016-11-06 16:18] sloria commented on #120
@bdewilde Would you be willing to post example code to reproduce the issue? Or--even better--a failing test in `webargs/tests/core.py`?

[2016-11-06 17:20] jasonab commented on #118
Sorry, it's been a few months. :-)

I believe what I was expecting was that webargs would check both names in the request, first the actual key, and then the field name (as you mention in the example). Right now, I believe webargs will only check for the 'Content-Type' key, not 'content_type' in your example.

[2016-11-06 19:53] sloria commented on #118
Makes sense. I think the behavior you're describing is the expected behavior, so this can be considered a bug.

PRs welcome =)

[2016-11-08 08:45] lafrech commented on #112
Alright. For the record, for our application, we ended up using custom "search" URL with a query field in which the client is supposed to enter a query (in python form, [PQL](https://github.com/alonho/pql) translates python to MongoDB). This is not the most satisfying solution. It is totally linked to the database behind the API, or at least the programming language. But it does the job for now an

[2016-11-08 08:54] lafrech commented on #116
Might be a noob question, but what is wrong with

[code]

since `Nested` is overridden anyway?

[2016-11-08 13:23] sloria commented on #116
@lafrech That might work, but I'm not sure that solves the static analysis problem that this issue refers to.

[2016-11-08 13:49] lafrech commented on #116
No, you're right, I just checked with Pylint and it apparently doesn't.

[2016-11-14 08:59] asmodehn commented on #105
I am having this problem as well, trying to release webargs for [ROS](http://www.ros.org/)
Not really breaking, since I don't use aiohttp or any async behavior though. The `.pyc` files are just missing from the final deb package.

IMHO, using FromWrapper() from trollius for now (not a breaking change I believe) is probably best option... How about it ?

And _maybe_ at some point in the future, sep

[2016-11-20 14:44] #118 closed, assigned to nobody

[2016-11-21 02:10] jasonab commented on #118
Thanks for fixing this. Sorry I didn't have a PR, I had some trouble running the tests on my side.

[2016-11-21 14:42] sloria commented on #118
No worries!

[2016-11-22 15:15] Bangertm opened #145 "Not parsing load_from"
In 1.5.0 i'm having a problem parsing a field that looks like:

`    example_field = fields.Nested('ExampleFieldSchema',
                                   required=False,
                                   many=True,
                                   load_from='exampleField',
                                   dump_to='exampleField',
                                   missing=[])`

Worked as exp

[2016-11-22 15:42] sloria commented on #145
That line was meant to fix https://github.com/sloria/webargs/issues/118. In your example, `example_field` will be parsed before `exampleField`. Is `example_field` present in your request input?

[2016-11-22 17:03] Bangertm commented on #145
No in the input the field name is camel case exampleField for the load_from value.

Mike

[2016-11-22 18:26] sloria commented on #145
@Bangertm would you mind posting code to replicate the problem?

[2016-11-22 18:57] Bangertm commented on #145
Here's an example that demonstrates the problem:

[webargs_problem.txt](https://github.com/sloria/webargs/files/607307/webargs_problem.txt)

output with 1.4.0 (expected)
{'example_field': [{'key': u'mykey', 'value': u'myvalue'}]}
UnmarshalResult(data={'example_field': [{'key': u'mykey', 'value': u'myvalue'}]}, errors={})

output with 1.5.0 (unexpected)
{'example_field': []}
UnmarshalResult(data={'

[2016-11-23 03:49] sloria commented on #145
Thank you @Bangertm . I will try to get this bug fixed over the next few days.

[2016-11-23 04:22] sloria commented on #145
It appears that this is related to https://github.com/sloria/webargs/issues/120 . I believe this is fixed by https://github.com/sloria/webargs/commit/f0974de50602100d445f69d7765135cc9ebae32c

[2016-11-23 04:24] #120 closed, assigned to nobody

[2016-11-23 04:24] sloria commented on #145
This is now fixed on the `dev` branch. @Bangertm can you confirm this?

[2016-11-23 04:25] sloria commented on #120
I was able to reproduce this issue in a test. I believe this is fixed in https://github.com/sloria/webargs/commit/f0974de50602100d445f69d7765135cc9ebae32c ., which is now merged on the `dev` branch. @bdewilde or @chavz : Can you confirm this?

[2016-11-23 04:27] bdewilde commented on #120
@sloria I'll do my best to check it this weekend. Very sorry about the delayed response — I was planning to write you out a full example over the long weekend! Thanks a ton for following up.

[2016-11-23 13:10] sloria commented on #120
@bdewilde No worries. Thanks for reporting. Once the fix is verified, I'll go ahead and cut a release.

[2016-11-23 13:41] Bangertm commented on #145
@sloria working great!  Tested with both my example program and our application - works with both.

Really appreciate the quick follow up on this.

[2016-11-23 14:09] sloria commented on #145
Great! Thanks for checking that and thanks for reporting the issue.

[2016-11-23 14:09] #145 closed, assigned to nobody

[2016-11-23 14:24] Bangertm commented on #145
No problem.  Webargs and marshmallow have been really helpful in a couple of our projects.  Saved us a ton of time.

[2016-11-23 14:41] sloria commented on #145
Good to hear!

[2016-11-25 13:27] DavidUnzue commented on #120
I was having the same issue when parsing a POST request containing a list of dictionaries:
[code]
Having following schemas:
[code]

Then parsing like this:
[code]

The result would be `args[parameters]` being `[{}]`.

@sloria I can confirm, that in my case, installing the latest `dev` version of webargs fixed the issue!

[2016-11-28 01:39] bdewilde commented on #120
@sloria I second that confirmation — changes in the `dev` version fixed the issue! Thanks a ton.

[2016-11-28 02:29] sloria commented on #120
Thanks guys--I've released 1.5.1 with the fix.

[2016-11-29 11:55] lafrech opened #146 "Parser.parse adds "missing" to original_data"
When parsing input, parser.parse adds `'field': missing` to `original_data` for every missing field. This happens only at first level, not in nested schema.

Hopefully, this test case will make this clearer:

[code]

AFAIKT, this should not happen. I'd expect original_data to be the same as when using pure Marshmallow.

I could fix this by modifying `_parse_request`like this:

[code]

Is this the

[2016-11-29 12:08] lafrech commented on #146
FWIW, here's my fix branch: https://github.com/sloria/webargs/compare/dev...Nobatek:fix_original_data?expand=1

[2016-12-09 09:36] lafrech commented on #120
Thank you guys for reporting/fixing this. Just got hit by this and latest release works a treat.

[2017-01-08 22:02] sloria commented on #146
@lafrech Thank you for reporting this. This is a legitimate bug and I was able to reproduce it (thanks for the example).

I've created a PR with your fix in #147

[2017-01-08 22:13] #146 closed, assigned to nobody

[2017-01-30 16:34] psconnect-dev opened #149 "Unhandled AttributeError when passing an integer into a delimited list field"
Using use_args from webargs.flaskparser, there is an unhandled AttributeError when passing an integer into a delimited list field.

An example usage is:
`@use_args("a": fields.DelimitedList(fields.Str())})`

With data:
`{"a": 1}`

Please find below the stack trace:

  File "...\webargs\core.py", line 435, in wrapper
    force_all=force_all)
  File "...\webargs\core.py", line 357, in parse
    resu

[2017-02-02 06:40] quytoanvu opened #150 "Cannot get resource id with PUT arguments"
Hi team,

I define the order_id as a view argument and get the below error when trying to get the value:
`
put() got an unexpected keyword argument 'order_id
`
Here is part of the args:
`
    PUT_args = {
        'order_id': fields.Int(
            location='view_args', validate=_order_existance),
`
and the resource definition:
`@api.resource('/orders/<int:order_id>')`

Regards,
Toan Vu

[2017-02-02 06:51] quytoanvu commented on #150
Hi team,

Never mind, false alarm.

Regards,
Toan Vu

[2017-02-02 06:51] #150 closed, assigned to nobody

[2017-02-02 18:26] pgpbpadilla opened #151 "Feature request: parser for the Klein framework"
Add a parser for the [Klein](https://github.com/twisted/klein#example) framework.

[2017-02-04 18:59] #149 closed, assigned to nobody

[2017-02-10 02:48] pingf opened #152 "split parse and validate into 2 phases!"
I have written an api framework based on falcon, however, within it, the framework already parse the params. which makes using webargs a little bit ugly.

heres the [demo](https://github.com/pingf/falsy/blob/master/demo/webargs/ops/hello.py) for my frame work [falsy](https://github.com/pingf/falsy)

because I already parse the req into function param name, so, is there any way to use the webargs f

[2017-02-10 03:37] sloria commented on #152
webargs uses marshmallow for validation/deserialization, so I suppose you could use marshmallow directly for validation. Would that meet your use case?

[2017-02-10 03:59] pingf commented on #152
yeah, because our project is based on flask, and now want to change to our own framework.
we used webargs in our project, which defines schema in json. we do not want to recode the validation part. just check the source of this project and find the correct part may help.

thx a lot.

[code]

[2017-02-13 14:32] sloria commented on #152
I'm not sure I understand the problem completely, but validation is done almost exclusively by marshmallow, so could you use `marshmallow.Schema#validate` to validate the request data?

[2017-02-14 01:46] hnjttsocssac commented on #152
yeah, thx, the problem is solved by using the argmap2schema func.
because our old project is using webargs, we define the schema with json style

[code]

however, we are moving to our own framework, if we change to marshmallow directly, we need to change to the schema style(we need to define the schema class), which force us to rewrite hundreds of dicts.

the thing behind this is that our framewor

[2017-02-14 01:47] pingf commented on #152
yeah, thx, the problem is solved by using the argmap2schema func.
because our old project is using webargs, we define the schema with json style
[code]
however, we are moving to our own framework, if we change to marshmallow directly, we need to change to the schema style(we need to define the schema class), which force us to rewrite hundreds of dicts.

the thing behind this is that our framework

[2017-02-14 03:00] sloria commented on #152
You should be able to write a decorator to validate the input arguments for your controllers.

How about something along the lines of:

[code]

You would use it like:

[code]

[2017-02-14 03:11] pingf commented on #152
wow, this is real black magic, thx a lot~

[2017-02-14 14:30] #152 closed, assigned to nobody

[2017-02-15 02:26] pingf commented on #152
sorry for bother you again, the argmap2schema may have some problems, see the code below,
the required check is neglected, however, it has some relations with the strict attr in the meta class.
[code]

[2017-02-18 16:28] rgant opened #153 "tox failure py34 py35"
Fresh clone of webargs, following the contribution guidelines. `invoke tests` under python 2.7 works just fine. But `tox` failed in python 3.4 and 3.5; the other versions succeed.

There is an import error for webtest_aiohttp:
[code]

This is all the output from tox:
[code]

[2017-02-18 17:20] #153 closed, assigned to nobody

[2017-02-18 19:17] rgant opened #156 "Documentation Requires Python 3.4 or Greater"
Not that I have a problem with that, but I was basing all of my work around 2.7 since that appeared to me to be the developer's preferred python version.  This is the error I get trying to install `pip install -r docs/requirements.txt` as per the docs on py27:

[code]

Personally I think that webargs should stop supporting python versions other than 3.5, 2.7, and add support for 3.6 soon.

[2017-02-18 19:33] rgant commented on #156
In python 35 I get this error:
[code]

[2017-02-18 20:09] rgant commented on #156
I forced webapp2 to the 3.0.0b1 version to resolve this issue.

`pip install webapp2==3.0.0b1`

[2017-03-06 03:31] sloria commented on #156
Thanks for reporting @rgant . I've updated webapp2 in dev-requirements.txt to install version 3.0.0b1 at a minimum.

webargs already supports 3.6. We will likely drop support for 2.6 and 3.3 with the next major release.

[2017-03-06 03:31] #156 closed, assigned to nobody

[2017-03-06 03:31] sloria commented on #151
I don't have plans to add this; this can be implemented as a separate library.

[2017-03-06 03:31] #151 closed, assigned to nobody

[2017-03-06 03:58] rmax commented on #151
Hi @sloria, I just pushed a WIP PR that address this issue: https://github.com/sloria/webargs/pull/159

It's a twisted parser which is fully compatible with klein framework. Let me know if it's a good addition or better to release it as a `webargs-twisted` package.

[2017-03-06 14:19] sloria commented on #151
@rolando Thanks for the contribution. I have decided not to add any new parsers for the time being. New parsers should exist as separate packages.

Let me know when you release `webargs-twisted`. I'll start a new section in the wiki with links to external packages.

[2017-03-06 14:24] rmax commented on #151
@sloria sounds good to me!

[2017-03-15 01:55] sloria commented on #116
I'm going to close this for now. Implementing this adds more maintenance burden than I'm willing to take on right now. If you want to address the static analysis issue, I suggest importing from `marshmallow.fields` directly.

[2017-03-15 01:55] #116 closed, assigned to nobody

[2017-03-15 02:56] sloria commented on #84
Closing this for now. Feel free to reopen if there is still interest in changing this.

[2017-03-15 02:56] #84 closed, assigned to nobody

[2017-03-16 00:44] sloria commented on #105
Closing this for now, since we don't have plans on making changes to support this.

[2017-03-16 00:44] #105 closed, assigned to nobody

[2017-04-10 22:53] xidianwlc opened #160 "supporting sanic"
is any roadmap to support sanic?

[2017-04-11 00:09] sloria commented on #160
We have no plans to add a sanic parser to this repo. If you end up implementing it, feel free to post it here and I can link to it in the documentation.

[2017-04-11 00:09] #160 closed, assigned to nobody

[2017-04-20 07:11] yufeiminds opened #161 "How can i parse array fields with brackets"
This library is awesome! I like it, but i have a problem during my usage.

I want to parse a query with **GET** method that an array passed to.

The query like this:

[code]

[code]

But webargs only support for

[code]

Anyone has a solution?

Thank you~!

Regards,
Yufei Li

[2017-04-20 09:50] romabysen opened #162 "webargs does not play well with Bottle plugins in Python 2.7"
When using use_args from the bottle parser on Python 2.7 any route using a Bottle plugin will fail with `TypeError: xxx() takes exactly X arguments (Y given)`. Code to replicate this issue is below. It uses the sqlite plugin but the same thing happens to other plugins, such as the sqlalchemy one. This happens only on 2.7, on 3.5 it works fine.

bottle==0.12.13
bottle-sqlite==0.1.3
webargs==1.6.0

[2017-04-20 12:16] sloria commented on #162
Thanks @romabysen for reporting. I would certainly review and merge a PR addressing this bug.

[2017-04-20 15:05] romabysen commented on #162
I'll try to figure out why this happens but in the meantime there's a way to make it work; use the `apply` argument to `route`:

[code]

Using `apply` seems to be the "bottle way" so maybe it just works on 3.5 by accident.

[2017-04-21 00:56] sloria commented on #161
You could implement a custom parser. See the documentation here: https://webargs.readthedocs.io/en/latest/advanced.html#custom-parsers

[2017-04-21 13:37] yufeiminds commented on #161
Thanks for your idea, solved perfectly👍

[2017-04-21 13:53] #161 closed, assigned to nobody

[2017-05-03 08:38] tuukkamustonen opened #164 "Non-iterable values get passed as [] to @pre_load @validates_schema et al."
With:

[code]

`@pre_load(pass_original=True)` `@validate_schema(pass_original=True)` get `[]` as original value, instead of `{'foo': 1}`.

This makes it impossible to record errors about invalid base type / extra fields.

This happens for any non-iterable non-string non-mapping value.

The code that's related to this is in `get_value()` at https://github.com/sloria/webargs/blob/dev/webargs/core.p

[2017-05-05 21:21] ariddell opened #165 "aiohttp parser breaks with more than one argument"
Nothing seems to work once I add more than one field. Here's my minimal example.

I'm validating with:
[code]
and here's what happens when I POST:
[code]
Things work fine if there's only one argument.

[2017-05-05 21:36] ariddell commented on #165
Things seem to work fine if I just use Marshmallow directly.

[2017-05-12 12:18] sloria commented on #165
Thanks @ariddell for reporting this. I'll try to look at this over the next few days. I'd gladly review and merge a PR fixing this. =)

[2017-05-12 12:34] ariddell commented on #165
I wish I knew more about marshmallow and aiohttp internals. I'll probably take a stab at it eventually. Thanks for webargs (and everything else)!

[2017-05-13 14:24] self-maurya commented on #162
@romabysen rather than passing plugin objects as positional arguments, you can pass then in **kwargs**. I am using sqlalchemy and flask-marshmallow in the same way.

[code]

[2017-05-15 13:17] zaro commented on #165
Same here.

After quite some digging, found out that in
[code]

req.has_body is true only on the first invocation, and false for the rest. In my case it's 3 arguments and only the first one gets parsed, in the following two it is false, and the parameter is considered missing.

[2017-05-16 12:38] #165 closed, assigned to nobody

[2017-05-16 19:59] bityob opened #167 "How to receive one variable from the url, and the rest from the json?"
I have a put function using flask-restful, with 'with_args' decorator,
this function receive the id in the url, and the person object via json.

This is the routing:
[code]

This is how I wanted/tried to make it works:
[code]
But it's not working, the error is:
`TypeError: put() got multiple values for keyword argument 'person_id'`

If I change the order:
[code]

I get another error:
`'$set' is em

[2017-05-16 20:02] bityob commented on #167
This way is not working neither:
[code]

The error is:
`TypeError: put() got an unexpected keyword argument 'person_id'`

[2017-05-16 21:26] bityob commented on #167
I had a mistake in the json object,
that why this code example, didn't work:

[code]

It's works fine now.

[2017-05-16 21:26] #167 closed, assigned to nobody

[2017-05-17 00:11] sloria commented on #165
Just FYI: The latest release (1.6.2) includes the fix for this.

[2017-05-18 10:40] nebularazer opened #168 "Documentation example for Flask error handling crashes"
The docs example for the flask error handler crashes due to changes in b8f7e00

[code]
[code]

[2017-05-18 12:15] #168 closed, assigned to nobody

[2017-06-02 09:14] michalmiesiak opened #171 "Using the "attribute" parameter in fields.Field() constructor with flaskparser's use_kwargs"
Hello,

`flaskparser`'s `use_kwargs` and `use_args` do not behave in the same manner when the parameter `attribute` is used in `fields.Field()`.
Here's my use case:

`'user_id': fields.Function(missing=None, deserialize=parse.user, attribute='user', location='json')`

The parser receives a `user_id` from the HTTP request, but I want it to be renamed as `user` once it has been deserialized into a `

[2017-06-06 03:16] sloria commented on #171
Try using [`load_from`](https://marshmallow.readthedocs.io/en/latest/quickstart.html#specifying-deserialization-keys) instead of `attribute`. `load_from` is used to specify which input key to check upon *de*serialization.

[2017-06-17 18:07] #171 closed, assigned to nobody

[2017-06-20 18:59] benkogan opened #173 "Parser passes incomplete data to marshmallow.pre_load schema methods"
When using a Marshmallow schema with a `@pre_load`-decorated method, the `data` passed as the arg to the method includes only fields specified in the schema. This breaks pre_load methods that depend on data entires not in fields such as [the enveloping example given in the Marshmallow docs][env].

Here's a minimal example using Flask to demonstrate the issue:

[code]

When sending data to the rout

[2017-06-23 10:23] ku3o opened #174 "Aiohttp: Parser.parse doesn't work after request body was read."
When a content of a request is read before `parser.parse` is called (with `location=('json',)`), parser returns that JSON fields are missing in the request.

Example code:
[code]

The issue is the following line of code https://github.com/sloria/webargs/blob/dev/webargs/aiohttpparser.py#L92 specifically `req.has_body`. This attribute has an unfortunate name and it's not constant over a lifetime of

[2017-06-23 10:59] sloria commented on #174
Good catch. Would you like to send a PR?

[2017-06-23 15:05] ku3o commented on #174
Yeah. I will try to create a PR :). But this issue is sort of issue of `aiohttp` package as well, as `has_body` should be actually consistent over a lifetime of a request object. Therefore I also created an issue in aiohttp https://github.com/aio-libs/aiohttp/issues/2005 . So not sure where to focus first. Either to fix it here or fix it there :D

[2017-06-23 15:13] sloria commented on #174
Thanks! Good call on reporting that issue on aiohttp; looks like the maintainers are open to changing the behavior or adding a separate method.

Since webargs will need to support the current releases of aiohttp, it will need to be fixed in webargs, so a PR would be greatly appreciated.

[2017-07-03 14:50] ghost opened #175 "Cannot parse both URL arguments and JSON payload"
Doing a POST request on `/api/login?lang=fr` with the following payload: `{email: "test@test.com", password: "123456789"}`, I receive this error:

Here's a snippet of the code of my route:
[code]

[2017-07-03 15:04] #175 closed, assigned to nobody

[2017-07-12 10:17] daniel98321 opened #176 "aiohttp - class based views are not supported"
the use_args decorator is expecting the req object to be the first parameter.
With class based views the first parameter is 'self' which is a aiohttp.web.View object, and the `request` object is accessible with `View.request` property.
Is there a way to use `use_args` with the class based view?
If not, an easy fix will be in the `get_request_from_view_args`, and check if the first parameter is an

[2017-07-17 12:41] daniel98321 commented on #176
fixed in version 1.8. closing

[2017-07-17 12:41] #176 closed, assigned to nobody

[2017-07-18 00:29] dwoz opened #178 "Make wrapped functions returned by use_args introspectable"
It would be nice if there was a way to introspect the wrapped functions returned by Parser.use_args for the argmap associated with them. This would help for creating automated tools to generate things like documentation from webargs.

Assuming we did something like [this](https://github.com/sloria/webargs/compare/dev...dwoz:use_args-introspect), it would facilitate things like the following.

[cod

[2017-07-18 00:56] sloria commented on #178
The target use cases are addressed by writing higher-order decorators. [https://github.com/jmcarp/flask-apispec] takes this approach; it includes decorators that do both parsing and use [apispec](https://github.com/marshmallow-code/apispec) to generate Swagger documentation.

[2017-07-18 01:47] dwoz commented on #178
Excellent, thanks!

[2017-07-18 01:47] #178 closed, assigned to nobody

[2017-07-18 22:09] dwoz opened #180 "HTTP status code 400 vs 422"
I'm wondering if someone can explain why webargs is responding with a 422 status code for missing form arguments. I was expecting a 422 (Unproccessable Entity) status when JSON fails to parse but 400 for a missing argument.

[stack overflow 400 vs 422](https://stackoverflow.com/questions/16133923/400-vs-422-response-to-post-of-data)
[https://httpstatuses.com/422](https://httpstatuses.com/422)

[2017-07-18 22:55] dwoz commented on #178
Figured I'd share my final solution in case it helps others.

[code]

[2017-07-19 08:16] timfeirg commented on #10
Consider adding support to a `pass_original` flag? Just like marshmallow's `validates_schema` method (see http://marshmallow.readthedocs.io/en/latest/api_reference.html#marshmallow.decorators.validates_schema)

[2017-07-19 08:20] timfeirg commented on #10
sorry, I've seen the examples from https://github.com/sloria/webargs/issues/146, and I realized I should probably just use marshmallow schema with webargs.

[2017-07-19 12:11] sloria commented on #10
@timfeirg Correct. A marshmallow `Schema` and `@validates_schema` should meet your use case.

[2017-07-19 12:33] sloria commented on #180
422 is an appropriate status code for missing arguments; the media type (form data) and syntax are correct (i.e. the form data are syntactically correct, if not *semantically* correct).

I went back-and-forth between 400 vs 422 a number of times, and I understand you could argue for either. IIRC, I settled on 422 for all validation errors because there were good examples in the wild (e.g. GitHub's

[2017-07-22 18:33] ghost opened #181 "HTTP 422 Not Getting Handled"
Hello,

I'm using Flask and following webargs' documentation for handling the HTTPExceptions raised by webargs.

For my parsing I have set up:

[code]

And my app is registered with the following error handlers:

[code]

Both handlers get registered with my app and the `404` is caught and works as normal, but my handler for the `422` is never used and instead I always get webargs' default response

[2017-07-22 19:05] ghost commented on #181
Upon further testing it seems the issue may be related to how my full app is structured with Flask.Blueprints and FlaskResult.Api.

A simple flask app works fine:

[code]

So I get 'Hello' when including 'myarg' in the request and 'Goobye' if I don't.

However when I modify its structure to use blueprints and such as my full Flask app uses:

[code]

I get the same JSON response as listed in my ori

[2017-07-22 19:29] dwoz commented on #181
You might be able to try something like this for handling exceptions from the parser.

[code]

[2017-07-22 20:29] ghost commented on #181
@dwoz Thanks! That ended up working out for me.

Without using flask error handlers:

[code]

Using webargs' parser error handler in conjunction with flask's error handlers requires flask_restful's `abort` instead

[code]

[2017-07-22 20:29] #181 closed, assigned to nobody

[2017-07-27 17:20] dwoz commented on #180
@sloria Yep, re-reading everything myself I agree 422 is the proper response. Thanks for looking into this again.

[2017-07-27 17:20] #180 closed, assigned to nobody

[2017-08-09 19:54] beardedeagle opened #182 "Getting exception when doing List(Nested(Schema))"
I have the following in my schema file:
[code]
And for a test view:
[code]
request:
[code]

However I am continually getting 422's with: `{'payload': ['Missing data for required field.']}`. If I just dump the incoming `request.json` I see the following: `[{'key': 'foo', 'value': 'bar'}]` which is what I am expecting. Am I missing something here?

[2017-08-09 20:25] beardedeagle commented on #182
Only thing I can think of is you are expecting an object as root where I am providing an array.

[2017-08-09 20:32] beardedeagle commented on #182
Additionally If I switch from `PatchPayload()` to `NestedData(many=True)` I get the following:
`AttributeError: 'list' object has no attribute 'keys'`

[2017-08-09 23:24] beardedeagle commented on #182
Ok so I figured it out:
[code]
But this is not how webargs explains how it should be implemented. I had to dig into the marshmallow api docs to figure it out. Maybe something that can be doc'd on the webargs side?

[2017-08-10 08:11] lafrech commented on #182
FWIW, there is an open issue about `List(Nested(...))` : https://github.com/marshmallow-code/marshmallow/issues/483.

[2017-08-16 12:41] sloria commented on #173
Thanks for the report. I would be happy to review a PR.

[2017-09-18 16:08] emilenriquez commented on #161
btw you can also use DelimitedList

[2017-10-18 17:23] fgblomqvist opened #183 "Validation of Content-Type (for JSON requests)"
If I have a POST endpoint that accepts JSON, and use webargs for the parsing and validation of that, it will give me an error that all args are missing if the content type of the request is not 'application/json'.

I believe this is incorrect. If I have decided that the endpoint should only accept JSON, I think a mime type error should be thrown if the correct content-type is not used. Otherwise,

[2017-10-18 23:55] sloria commented on #183
@fgblomqvist I recommend using a custom parser class. This will allow you to do validate against the request before the parsing is done.

Here is how you'd do it in Flask:

[code]

[2017-10-19 17:17] fgblomqvist commented on #183
I see. Looks like a simple enough workaround. What's your opinion on doing this validation by default in webargs? Or rather, what are the arguments against it?

[2017-10-23 22:42] sloria commented on #183
Content-type validation woudn't really make sense when parsing multiple locations, which webargs does by default ('query', 'form', 'json').

[code]

EDIT: Add `form` to locations.

[2017-10-23 23:53] fgblomqvist commented on #183
But there will never (and can't) be data in both form and json at the same time, right? And having data in the query and JSON at the same time is allowed, which means that if you expect JSON data (whether you expect query data or not as well) the Content-Type should be set to a JSON one. Or is there a scenario that I am missing in which this is not true? In the scenario you described, the Content-

[2017-10-24 00:18] sloria commented on #183
@fgblomqvist Ah woops, I forgot to include `form` in the locations. Edited the snippet.

If `Parser` is passed multiple locations, webargs does not know which location will ultimately be used, so how will we know to validate Content-Type?

[2017-10-24 01:02] fgblomqvist commented on #183
Ah I see what you're saying. I suppose one way to do it would be to check if locations only contains one item, and that item is json, and if it does, verify content-type. I am just trying to make it more sensible for REST APIs (which afaik do not allow the loose structure you're describing, where a parameter can be in different locations), but I understand if it is too much of an edge-case.

At le

[2017-10-24 22:00] sloria commented on #183
Yes, I recommend doing content-type validation outside of webargs.

An alternative to my workaround above would be to do the validation in a middleware or hook,  e.g. `before_request` in Flask:

[code]

[2017-10-24 22:00] #183 closed, assigned to nobody

[2017-10-26 01:42] sloria commented on #162
As @romabysen pointed out, it seems like `apply` is the correct way to apply decorators to views in bottle. Perhaps we should just modify the documentation to use `apply`. How does that sound?

[2017-12-10 17:45] sloria commented on #182
As @beardedeagle pointed out, using `Nested(.., many=True)` is the correct approach. If this isn't clear in the docs, please send a PR =)

[2017-12-10 17:45] #182 closed, assigned to nobody

[2017-12-10 17:47] sloria commented on #117
This issue is stale, and I don't have immediate plans to implement this, so going to close this for now.

[2017-12-10 17:47] #117 closed, assigned to nobody

[2017-12-10 19:47] dswhite42 commented on #117
Well, that's understandable, but I hope you'll consider it for the future.  I would still find it very useful.

[2017-12-10 21:37] sloria commented on #117
Even though this is closed, I would still review a PR implementing this. I just don't have the time to do it myself at the moment

[2017-12-18 00:33] #162 closed, assigned to nobody

[2018-01-13 13:26] greyli opened #185 "Is it possible to get validation messages and do not raise exception?"
Hi, guys! I just want use webargs to validate form's data with Flask. What I want is to get the validation error messages and return it to the client ( Then render it in the form ), but the default behavior seems to return a 422 response. So, is it possible to only get validation messages and do not raise exception?

Any help will be appreciated!

[2018-01-17 12:47] ariddell opened #186 "aiohttpparser `.has_body` is deprecated"
[code]

[2018-01-18 03:52] sloria commented on #186
Thanks for reporting @ariddell for reporting this.

I would certainly review and merge a PR for this.

[2018-01-21 22:23] lafrech commented on #118
For the record, this changed in Marshmallow 3 (https://github.com/marshmallow-code/marshmallow/pull/714).

[2018-01-21 23:04] lafrech opened #187 "test_error_handler_is_called_when_regardless_of_schema_strict_setting looks fishy"
I might be missing something, but I think there's something wrong in this test:

[test_error_handler_is_called_when_regardless_of_schema_strict_setting](https://github.com/sloria/webargs/blob/dev/tests/test_core.py#L719).

`viewfunc2` is created but unused and `viewfunc` is called twice with the same parameters.

The test title (I guess it should read `test_error_handler_is_called_regardless_of_sc

[2018-02-03 17:02] sloria commented on #187
Ah, good catch. That test turns out to be junk. (1) It doesn't test what it's intending to test and (2) it's not testing the desired API.

You are correct about the typo--it should be calling `viewfunc2()`. However, if `strict` isn't `True`, we don't expect the error handler function to be called. That's why we have this warning:

https://github.com/sloria/webargs/blob/4fe17a4434c0bc6f47ccccf8a724

[2018-02-03 17:02] #187 closed, assigned to nobody

[2018-02-03 23:53] lafrech commented on #185
The 422 response should contain the validation error messages.

Unless I misunderstand your use case, 422 is the way to go. Let the client get validation error messages from the payload of the 422 response.

[2018-02-04 00:12] lafrech commented on #174
I just read the discussions in https://github.com/aio-libs/aiohttp/issues/2005.

`.has_body` was a misleading name. From aiohttp 2.3.0 on, It has been deprecated in https://github.com/aio-libs/aiohttp/pull/2169, and replaced with `can_read_body` and `body_exists`.

IIUC, we should change `has_body` into `body_exists`. This will break compatibility with aiohttp < 2.3.0 but anyway, this was already

[2018-02-04 00:12] lafrech commented on #186
@ariddell, see https://github.com/sloria/webargs/issues/174.

[2018-02-04 17:49] sloria commented on #174
Yeah, we're pinning to aiohttp<2 because of webtest-aiohttp. I haven't yet found a way to make webtest-aiohttp compatible with newer versions. I'm considering just rewriting the aiohttpparser's  tests to use aiohttp's built-in testing client.

[2018-02-08 04:19] sloria commented on #174
Actually, I was able to get webtest-aiohttp working with aiohttp 2, so we can finally move forward with getting the aiohttpparser up to date. I think it will be pretty straightforward.

Question is: is dropping support for aiohttp 1 considered a breaking change? aiohttp isn't a hard dependency of webargs, but breakages may occur for users of the aiohttpparser module, so I'm thinking we bump to web

[2018-02-08 08:04] lafrech commented on #174
The question could be how long you'd be maintaining webargs 1.x.

A compromise would be bump to 2.0.0 to be on the safe side, but deprecate 1.x right away to urge people to upgrade. This is acceptable as the upgrade would be easy. From your perspective, it is pretty much the same as releasing this as a minor change, except it is more explicit about the breaking change;

[2018-02-08 09:37] ku3o commented on #174
The release of `aiohttp==2.0.0` was on 2017-03-20. To me, it seems to be enough time and my guess is that the number of people using `1.x.x` is very low right now and it will get lower and lower.

I think bumping version to `2.0.0` is a reasonable step in order to keep Webargs compatible with the latest releases of packages where Webargs is used.

[2018-02-08 14:14] sloria commented on #174
OK, thank you both for your input.

@lafrech I'm not sure if this is the same as what you're suggesting, but I think we'll go with the following path:

- Release webargs 1.10.0, which deprecates aiohttp 1 support (and adds marshmallow 3 support).
- Release webargs 2.0.0, which drops aiohttp 1 support completely.

[2018-02-08 14:35] lafrech commented on #174
Yes, this is what I meant.

What I also tried to say is that moving to 2.0.0 should be straightforward for the clients, so it is fair to abandon 1.x branch right after 1.10.0 and 2.0.0 are released.

There is no point in maintaining both branches in parallel, as there shouldn't be users stuck to 1.x.

Maybe this means adding a deprecation warning on the 1.x branch to tell people to move to 2.x.

[2018-02-08 16:19] sloria commented on #174
@lafrech. I agree.  Ok, I'll release those when I'm off the clock.

[2018-02-09 03:13] #186 closed, assigned to nobody

[2018-02-09 03:22] sloria commented on #174
OK, both 1.10.0 and 2.0.0 are released.

@ku3o Is this issue still unsolved?

[2018-02-13 08:39] ku3o commented on #174
I think it solved @sloria

[2018-02-13 14:03] sloria commented on #174
Great!

[2018-02-13 14:03] #174 closed, assigned to nobody

[2018-02-15 16:36] klapaukh commented on #173
I have been having a look at how this currently works / why this error is occurring in the hopes of creating a PR to correct it. I ran into the bug when trying to run the example from the Marshmallow validators example which throws a validation error when unused arguments are present.

It think the error boils down to the fact that the `_parse_request()` function does the wrong thing (based on the

[2018-02-18 18:07] erwinyusrizal opened #198 "Make DelimitedList optional by default"
Hi, I tried to use DelimitedList field type, is it possible to make it optional ? right now it returns `TypeError: '_Missing' object is not iterable` if I dont use the query for example

[code]
What am I doing wrong?

Thanks

[2018-02-19 09:05] erwinyusrizal commented on #198
Solved! using `missing=None`

[2018-02-19 09:05] #198 closed, assigned to nobody

[2018-02-19 13:26] garaud opened #199 "Is there a support for the parser httptools?"
Hi,

I use the [sanic](https://github.com/channelcat/sanic) framework, a Flask-like Python 3 framework with asyncio. This framework uses the [httptools](https://github.com/MagicStack/httptools) parser and I would like to known if there is an equivalent module in webargs for this parser.

If it's not the case, do you have some docs which explain how I can add a supported "framework" to webargs. I t

[2018-02-20 17:24] garaud commented on #199
I checked httptools. It's the http parser used for the Sanic web framework. A `sanicparser` should be great. I'll try to check the `core.Parser` to understand how doing that.

[2018-02-21 03:16] sloria commented on #199
I'm not familiar with httptools.

I recommend taking a look at the existing `Parser` subclasses to see implementation examples. If you end up implementing webargs-sanic, let me know, and I can link to it in the docs.

[2018-02-21 03:16] #199 closed, assigned to nobody

[2018-03-01 10:40] erwinyusrizal opened #204 "Is Parser cached ?"
Hi I have an issue using the parser with locations=['files'], it seems parser has cached? bcos everytime I upload new file it works, but when I try to upload with the same file it doesnt work

[code]

data will always return empty dict, any idea ?

Thanks

[2018-03-01 11:23] erwinyusrizal commented on #204
Solved! it's postman new bug

[2018-03-01 11:23] #204 closed, assigned to nobody

[2018-03-06 17:04] AnakTeka opened #206 "Automatic documentation"
It stated in website that

How do I use the automatic documentation? I'm using Falcon

[2018-03-06 23:36] sloria commented on #206
webargs doesn't have API documentation generation out of the box, but it can be used together with apispec to generate an OpenAPI spec.

See [flask-apispec](https://github.com/jmcarp/flask-apispec) for an example project that weaves webargs and apispec together.

[2018-03-06 23:36] #206 closed, assigned to nobody

[2018-03-07 08:09] lafrech commented on #206
FWIW, here's another example: https://github.com/Nobatek/flask-rest-api of marshmallow/webargs/apispec gluing.

[2018-03-07 13:31] sloria commented on #185
I agree; the server should return a 422 with the error messages which the client will render.

If you *really* want to, you can subclass `FlaskParser` and override `handle_error` so that it doesn't raise an `HTTPError`.

[2018-03-07 13:31] #185 closed, assigned to nobody

[2018-03-07 17:02] dfee commented on #185
@sloria either you're unaware that people are attempting to use `webargs` to normalize querystring data, or that's a use case you've chosen to not support with this library.

While, I'm no longer rendering to HTML response with Python (going the API / SPA route), `webargs` fails in such a use case as it's expected renderings fail silently rather than throw 422 error messages.

[2018-03-07 22:10] sloria commented on #185
I don't think failing silently is the expected behavior. Querystring arguments are validated the same way as other input data. If you don't want an error response to be returned, then the input schema should be made less strict (i.e. fewer validators).

[2018-03-07 22:13] dfee commented on #185
To be clear, webargs failing silently isn't marshmallow failing silently. The problem with webargs failing explicitly is that it leaves no control up to the developer of how to handle the exception – short of wrapping your wrapper to catch the thrown exception.

[2018-03-07 22:57] lafrech commented on #185
@dfee, IIUC, you're talking about the case where webargs is used to parse query string parameters for a web application that returns HTML to a user via a browser (as opposed to an API talking to a program), and you're saying that you don't want the application to return a 422 to the browser but rather ignore or deal with this in the view function to allow it to return a 200 and a page, maybe with

[2018-03-07 23:09] dfee commented on #185
@lafrech that's right – as I'm not using Flask, I'm sure there is an alternative to `FlaskParser`, but your point stands. Ultimately, I needed to move on from `webargs` as I needed to do two things:
1) validation for a view (partial validation is worse than no validation due to the mental overhead of now dealing with two validators)
2) modification of the payload (what marshmallow returns as `data

[2018-04-25 16:13] lafrech opened #216 "Dead code in core.py?"
I just noticed what seems to be dead code.

1/ Unless I'm mistaken, the `instance` and `kwargs` attributes are both untested and unused in the code.

https://github.com/sloria/webargs/blob/dev/webargs/core.py#L87

[code]

2/ In `load`, `argmap` is always a schema instance due to the call to `_get_schema` in `parse`, so the test is useless.

[code]

In both cases, all tests pass when removing suspe

[2018-04-27 15:50] ignacioHermosilla opened #217 "Incompatiblity between falcon hooks and webargs (falcon >= 1.4.0)"
**Falcon 1.4** changed the implementation of hooks and now this is non-compatible with **Webargs**, here a sample that works only with Falcon < 1.4.0.

[code]

My environment:

falcon==1.4.1
webargs==2.1.0
Python 2.7.11

[2018-04-28 06:50] eromoe opened #218 "allow_none doesn't work, need a default none argment."
For example:

code:
[code]

`GET  localhost:5000/test` would result  `KeyError: 'corpus_id'` .

I want

1.  `GET  localhost:5000/test`   get  `args['corpus_id']==None`
1.  `GET  localhost:5000/test?corpus_id=1`   get  `args['corpus_id']==1`

I tried `fields.Str(default=None)` and `fields.Str(allow_none=True)` , both not work

[2018-04-28 10:50] lafrech commented on #218
What you want is `missing=None`.

http://marshmallow.readthedocs.io/en/latest/api_reference.html#module-marshmallow.fields

`missing` provides default value for deserialization
`default` provides default value for serialization
`allow_none` allows to pass `None` (or `null` in JSON)

If `missing=None` and `allow_none` is unset, `allow_none` will default to True.

[2018-04-29 19:10] lafrech opened #219 "1 test failing with Flask==1.0"
In `TestFlaskParser.test_user_validation_error_with_status_code`

[code]

I don't understand all the underlying details, but this is related to https://github.com/pallets/flask/issues/2735, which is fixed by https://github.com/pallets/flask/pull/2739 due to be released in Flask 1.0.1. (I tested the Flask version with the fix and the tests pass.)

When removing `DEBUG` mode in `flask_app.py`, all t

[2018-04-30 07:28] #219 closed, assigned to nobody

[2018-05-02 01:21] #218 closed, assigned to nobody

[2018-05-04 02:13] sloria commented on #217
Thanks for reporting! I would certainly review and merge a PR fixing this.

[2018-05-04 11:50] #216 closed, assigned to nobody

[2018-05-07 15:38] ThiefMaster opened #225 "3.0 missing in changelog on RTD"
Latest version on http://webargs.readthedocs.io/en/latest/changelog.html is 2.1.0 because the RTD build fails: https://readthedocs.org/projects/webargs/builds/7149092/

[2018-05-07 15:51] lafrech commented on #225
I don't understand this error:

[code]

There are aiohttp versions on PyPI up to 3.2.0.

[2018-05-07 17:51] sloria commented on #225
I'm not sure about the error either. It's possible that the builds are running a Python version that is incompatible with newer version of aiohttp.

Looks like ReadTheDocs has a way of specifying a newer Python version for builds: https://docs.readthedocs.io/en/latest/yaml-config.html#build-image .

If I get some time after work today, I'll try it out.

[2018-05-07 19:05] lafrech commented on #225
aiohttp requires Python 3.5.3+. Perhaps RTD uses 3.5.x with x <3.

[2018-05-08 01:46] sloria commented on #225
Ah, building in Python 3.6 solved the issue.

[2018-05-08 01:46] #225 closed, assigned to nobody

[2018-05-18 11:09] reem-codes opened #227 "How to receive id from the url, and the other data from json"
Hello

I have a UserView class like this:
[code]

how to make it so the id is taken from the url, and all other fields to be updated from json? my implementation right now force me to specify the id in my json. and even if the id specified was different that the url the one taken in calculation is the one in json body

[2018-05-18 12:15] lafrech commented on #227
I think the sample code misses `app.route` statements.

[2018-05-21 12:19] reem-codes commented on #227
@lafrech  nope, I am using classful which handle all the routing automatically

[2018-05-22 15:44] lafrech commented on #227
OK, I don't know `classful`. I had a quick glance but didn't see that.

AFAIU, if you're using `use_kwargs` from `flaskparser.py`, it should work. Maybe the example in the docs could be improved about this, showing a path parameter being passed.

In the view function, do you get the id in `flask.request.view_args()`?

[2018-05-22 17:28] reem-codes commented on #227
@lafrech THANK YOU! I made some changes and instead of ....
[code]

 I made it
[code]

and it worked like I charm :D

[2018-05-22 19:25] lafrech commented on #227
Alright. But this (`request.view_args['id']`) is precisely what webargs is supposed to do (https://github.com/sloria/webargs/blob/dev/webargs/flaskparser.py#L54).

Are you sure you're using `use_kwargs` from `flaskparser.py` and not from `core.py`?

[2018-05-22 21:54] reem-codes commented on #227
@lafrech I believe so. this is my import statement

`from webargs.flaskparser import use_kwargs`

[2018-05-22 23:17] lafrech commented on #227
Sorry, I think I was kinda wrong. Flask should inject the path parameter in the function, whether or not webargs is used.

The docs do provide [an example](https://webargs.readthedocs.io/en/latest/framework_support.html#decorator-usage) of getting a path parameter not parsed by webargs:

[code]

Webargs optionnaly [parses path parameters](https://webargs.readthedocs.io/en/latest/framework_support.

[2018-05-25 08:42] exc4 opened #229 "500 when content-type is 'application/json' and body is None"
I am using webargs with aiohttp.
When the incoming request has header `Content-Type: application/json` and has no body, the server returns 500 error.
Below is the error log.
[code]

[2018-05-25 13:56] sloria commented on #229
Looks like a possible bug in aiohttp. I would expect `yield from req.json()` to return either `None` or raise a more specific error. I suggest reporting this issue on their [issue tracker](https://github.com/aio-libs/aiohttp/issues).

For now, webargs should probably handle this case. PRs welcome!

[2018-06-05 12:56] Kamforka opened #230 "Docs: Add example for parsing files"
Hey guys,

I've been consulting the documentation and the web for a proper solution to parse file arguments from a post request using `webargs`, but still couldn't find an answer to my question.

The [docs says](http://webargs.readthedocs.io/en/latest/quickstart.html#request-locations) you can use the `files` location during parsing but mentions no straightforward solution on which field to use fo

[2018-06-05 19:12] foresmac commented on #180
I'd like to revisit this issue, if at least to determine a way to override the default 422 and replace with 400. Every RESTful API I've ever created or used uses 400 for input validation failures. The only way I can think of to do this now is some very hack-y monkey-patching.

[2018-06-05 19:15] foresmac commented on #180
We have a mix of web services written in Django/DRF, Golang, and falcon. We have been using basically manual input validation in certain critical paths until we could settle on a validation strategy. Our organization decided to adopt webargs, but we may have to revisit that if all the falcon services are going to return a 422 while everything else uses 400.

[2018-06-05 19:21] sloria commented on #180
@foresmac You can override the default status code on the Parser class.

[code]

Does this meet your use case?

[2018-06-05 21:10] foresmac commented on #180
@sloria Hrmmmm, would I then use `@parser.use_args` as the decorator?

[2018-06-05 21:28] foresmac commented on #180
I tried the above and I'm still getting 422 responses for failed validation.

[2018-06-05 21:40] foresmac commented on #180
It looks like the `Parser` subclass [never passes](https://github.com/sloria/webargs/blob/dev/webargs/core.py#L296-L316) `self.DEFAULT_VALIDATION_STATUS` to `ValidationError` constructors, so it [uses](https://github.com/sloria/webargs/blob/dev/webargs/core.py#L49) the value of the constant [defined earlier in the file](https://github.com/sloria/webargs/blob/dev/webargs/core.py#L36), which is 422.

[2018-06-05 22:07] foresmac commented on #180
I was able to achieve the result by doing something like the following:
[code]

[2018-06-06 03:06] sloria commented on #180
Ah, that works. However, it looks like you found a bug: `Parser.DEFAULT_VALIDATION_STATUS` is unused. I'll look into a patch for this soon.

[2018-06-06 13:59] uMtMu opened #233 "Flask-webargs both url path parameter and query parameter"
Hi, i have a problem about accessing request parameter. I'm using
	  flask and webargs. I can get
	  http://localhost:5000/task/12?name=mysql id=12 and name=mysql with
	  app.route but i couldn't do it with app.add_url_rule.
	  https://gist.github.com/uMtMu/be0682823140e2b1418d6795203477e0

[2018-06-07 01:17] sloria commented on #233
The view args will still get passed to your method view. You can add `**kwargs`` so that the `id` argument will be handled.

[code]

[2018-06-07 01:17] #233 closed, assigned to nobody

[2018-06-07 01:25] sloria commented on #230
If you use `fields.Field`, marshmallow won't do any processing on the value, so you'll get a framework-specific file wrapper object. For example, you'll get a [FileStorage](http://werkzeug.pocoo.org/docs/0.14/datastructures/#werkzeug.datastructures.FileStorage) object in Flask.

[2018-06-07 03:52] sloria commented on #180
@foresmac The issue with `DEFAULT_VALIDATION_STATUS` is fixed in 3.0.1 and is documented here: https://webargs.readthedocs.io/en/latest/advanced.html#returning-http-400-responses

[2018-06-07 14:30] Kamforka commented on #230
@sloria tried it, works, really nice.
Such a shame though that I couldn't find any docs about it elsewhere.

However, really like what you are doing so keep up the good work!

[2018-06-07 14:44] sloria commented on #230
@Kamforka Glad that worked. Good point about the docs. I'd certainly review/merge a PR adding an example in the docs =) .

[2018-06-11 07:09] ThiefMaster opened #234 "Automatically trim leading/trailing whitespace from argument values"
Does webargs provide any clean way to do this? I guess leading/trailing whitespace are almost never something you want (especially when having required fields that must not be empty)...

[2018-06-19 13:35] remeika opened #235 "Feature: Accept the jQuery default serialization scheme for arrays"
When serializing an array in to a query string, jQuery has the following behavior:

[code]

[As of jQuery 1.4, this behavior is the default](https://api.jquery.com/jquery.param/).

Webargs should support deserializing fields of type List from this format.

[2018-06-19 13:37] remeika commented on #235
NB: I plan on building this in the next few months.

[2018-06-19 14:23] lafrech commented on #235
Could this be a [custom parser](https://webargs.readthedocs.io/en/latest/advanced.html#custom-parsers)'s job?

[2018-06-19 21:28] remeika commented on #235
Absolutely. I guess my presumption here is that jQuery is such a widespread frontend library that the ability to handle its default behavior should be built in, or maybe even the default.

Action on me to do a survey of some other frontend request libraries to see if they have similar default behavior.

[2018-06-20 02:25] remeika opened #236 "How can documentation generators introspect a webargs field?"
The introductory documentation to webargs lists one framework feature as:

Any pointers on where to access that metadata?

[2018-06-20 07:20] lafrech commented on #236
I have no idea what metadata the doc is talking about.

If you're interested in automatic doc generation, you should pay a look at [apispec](https://github.com/marshmallow-code/apispec).

Adding a layer on top of marshmallow/apispec/webargs allows you to specify schemas for input/output and document them at the same time. This is what [flask-apispec](https://github.com/jmcarp/flask-apispec) or [fl

[2018-06-20 11:19] yasirz opened #237 "fields validation function by-passed"
I have encountered an issue in fields of webargs such as **fields.Number()** and **fields.Str()**, when passing **tabs** to the **Str** and **00** in the start to the **Number**, it bypass the validate function of that field even if it is a custom function.

here  is an example params and output error:
**Input:**
[code]

**Output error:**
[code]

Here you can see, invalid values are given to the *

[2018-06-20 13:09] sloria commented on #236
That bit is referring to the metadata stored on fields, in the form of stored arguments. For example:

[code]

Because input schemas are separated from view functions, libraries (like the ones @lafrech mentioned) can easily introspect the schemas and generate API specifications.

[2018-06-20 13:09] #236 closed, assigned to nobody

[2018-06-20 13:15] lafrech commented on #236
Oh, of course. I didn't think of that.

[2018-07-01 18:42] sloria commented on #237
@yasirz Can you post code to reproduce this problem?

[2018-07-03 07:07] yasirz commented on #237
here are the example args i'm parsing
the validation on **number** in **field2** fails validation on **user_id**
[code]

[2018-07-03 07:23] lafrech commented on #237
I don't think it has anything to do with webargs. This is a marshmallow question.

Anyway, please post the whole code to reproduce the issue.

Since `user_id` is required, the `"Missing data for required field."` message is normal.

[2018-07-04 12:03] Reskov opened #240 "Python 3.7 async and await are now reserved keywords."
At python 3.7 import webargs async module will raise following syntax exception

[code]

[2018-07-06 13:10] sloria commented on #240
Thanks for reporting @Reskov . Looks like we need to rename that module. We'll have this fixed sometime this weekend.

[2018-07-06 13:12] sloria commented on #240
If you'd like to send a PR renaming `webargs.async` -> `webargs.asyncparser`, be my guest! If you don't have time, I can take care of it this weekend.

[2018-07-11 17:54] jeffglover commented on #115
I don't know if it's worth reopening this, but chalice is no longer alpha and this would be a useful feature. I'd be willing to contribute back and issue a pull request if desired.

[2018-07-11 18:52] zwing99 commented on #115
Agree. I think we should reopen this issue.

[2018-07-11 23:13] sloria commented on #115
I still propose that the chalice parser be implemented as a separate package. We've put a halt on adding new parsers in order to reduce maintenance burden. I've just made a new "Ecosystem" page in the Wiki. If someone ends up publishing "webargs-chalice", please add it to that page.

[2018-07-12 13:21] jeffglover commented on #115
Ok, I'll look into working on it as a separate package. Thanks.

[2018-07-17 16:46] rclough opened #251 "Advice wanted: returning args in response."
Hello,

I'm using webargs for a simple GET/POST endpoint in flask. I'm using webargs as a decorator to validate the input which can accept arguments both from URL params and JSON post.

As part of my API responses, I want to be able to return all of the request params on either a succesful or failed request, which can help with debugging, context management, etc. To do this, I'm using `parser.pars

[2018-07-17 20:43] lafrech commented on #251
You could get the raw arguments straight from the `flask.request` object.

[2018-07-17 21:52] rclough commented on #251
Fair enough, I'll just write a function to pull out the relevant parameters from each, it just seems that I'm effectively replicating what I wanted web args to do in the first place, which was handle all the different argument locations and coalesce them into a singular structure. Though I suspect you cant really suppress errors during the parse cause there's probably cases where the correct outpu

[2018-07-17 21:52] #251 closed, assigned to nobody

[2018-07-17 21:58] lafrech commented on #251
Yes, I think that makes things complicated. You may spend more time grabbing from webargs what you don't want to replicate than coding it specifically for you own use case.

[2018-07-18 10:03] piroux opened #252 "Deleted fields are always recreated with use_kwargs"
If one tries to `load` a json object with Marshmallow so that it validates a field but one does not wish to have it in the final loaded object, one can have it removed using a method decorated with `post_load` so that the field is validated but not exported:

[code]

It works well with Marshmallow.

However, it is not working with webargs. For instance here, it will recreate the geotype member in

[2018-07-18 18:04] foresmac opened #253 "FalconParser should ideally support falcon's native media decoding"
Falcon has a native media handling mechanism which can decode an incoming request body based on the `Content-Type` header and adding the dictionary of resulting key-value pairs as a cached property `req.media`. I've written my own FalconParser subclass that (very naively) uses this, but it seems like something that might be worth supporting out of the box.

[code]

This could probably be improved

[2018-07-20 15:25] vashchukmaksim commented on #173
Are there any workarounds on this for now? I still can't get arguments that are not in schema in any `@pre_*` schema functions.

[2018-07-26 18:26] foresmac commented on #229
Falcon has a similar behavior because it also passes the body directly to `json.dumps` and when that raises an error, it's internal media handling raises a bad request or something similar. https://github.com/falconry/falcon/issues/1216

[2018-07-27 15:09] csheppard opened #255 "4.0.0 not returning JSON error"
Hey, I'm using marshmallow 3.0.0b12 and Flask-RESTful.

After upgrading to webargs 4.0.0, Flask will error with a 422 but produce the default HTML error message:

**webargs 4.0.0**
[code]

**webargs 3.0.2**
[code]

[code]

[2018-07-27 15:16] csheppard commented on #255
Looking at the latest changes, I guess Flask-RESTful error handling may need tweaking?

[2018-08-03 15:02] dnp1 opened #262 "Optionally use a ThreadPoolExecutor for schema validation and json loading when using aiohttp"
Parse Json and validate schemas are CPU bound tasks.
Parse and validate long bodies can impact the reactivity of the event loop.

Use a ThreadPoolExecutor is a simple and eficient solution.

However, isn't trivial use your packed solution aside a ThreadPoolExecutor, because it neeeds function independent from the event loop.

Currently, I dropped the use_args decorator and I am using my own implem

[2018-08-06 10:49] aknvictor opened #263 "Docs: Add example for using NestedQueryFlaskParser"
The docs provide a custom parser class for Nested Queries: http://webargs.readthedocs.io/en/latest/advanced.html#custom-parsers

It would be great to have an example of how to use this. Can one use 'use_kwargs' and can one have arguments that are not nested?

[2018-08-08 06:42] tuukkamustonen opened #266 "Documentation site still refers to 3.0.1 as the latest"
While 4.0.0 is already out.

[2018-08-08 12:27] tuukkamustonen opened #267 "Leave logic of deciding on extra args to schema"
Now that marshmallow 3.x is in beta and comes with configurable behavior on extra args, how about just including all fields in `Parser._parse_request()` and passing them on to  `Schema.load()`? It would be up to passed Schema to determine what to do with them.

The effect would be that:

- With `RAISE`,  extra fields would be denied.
- With `INCLUDE`, extra fields would be allowed and passed on.
-

[2018-08-08 12:36] tuukkamustonen commented on #164
Hmm, I think this is because of #267 (`_parse_request()` skipping on extra keys / invalid data).

[2018-08-08 12:54] sloria commented on #267
Thanks for the suggestion @tuukkamustonen ; I think it's a good one. I don't think there's a [good] reason for `_parse_request` to filter on declared fields.

Would you be up for sending a PR?

[2018-08-08 13:18] tuukkamustonen commented on #267
I can try to come up with something (hopefully within a few days or so).

Edit: Turns out I bumped into other tickets/issues and this got delayed. Still hoping I (or anyone) can dig up time for it!

[2018-08-08 13:22] tuukkamustonen opened #268 "Inconsistent behavior in passing request fields to Schema.load (many=True vs many=False)"
With `4.0.0` (and marshmallow `3.0.0b13`):

[code]

So the with `many=True` the extra key is actually passed to `Schema.load()` (which can then raise `ValidationError` because `unknown` defaults to `RAISE`) but with `many=False` it is passed onwards. I think it's confusing.

#267 would fix this.

[2018-08-08 14:05] sloria commented on #266
Good catch. Fixed.

[2018-08-08 14:05] #266 closed, assigned to nobody

[2018-08-08 23:53] sloria opened #269 "Fix compatibility with marshmallow 3.0.0b13"
Tests are currently failing when marshmallow 3.0.0b13 is installed.

[2018-08-09 19:39] jasonehines commented on #255
I'm getting this with Flask-Marshmallow.

[2018-08-15 21:19] dnp1 opened #273 "AioHTTPParser does not works with multiple `@use_args` at same handler"
According to the docs, we can use the decorator twice.

https://webargs.readthedocs.io/en/latest/advanced.html#mixing-locations
However, use `@use_args` decorator twice leads to an error when the first schema is valid:
`assert isinstance(req, web.Request), "Request argument not found for handler"`
`AssertionError: Request argument not found for handler`

[2018-08-19 16:37] sloria commented on #273
@dnp1  Can you please post code to reproduce the issue?

[2018-08-19 21:38] sloria commented on #269
Fixed in https://github.com/sloria/webargs/pull/274

[2018-08-19 21:38] #269 closed, assigned to nobody

[2018-08-19 21:43] sloria commented on #255
You need to use a Flask error handler to return a JSON response for 422 errors: https://webargs.readthedocs.io/en/latest/framework_support.html#error-handling .

[2018-08-28 02:49] #255 closed, assigned to nobody

[2018-09-05 11:55] sloria commented on #237
Closing for now. Feel free to re-open if this is still an issue.

[2018-09-05 11:55] #237 closed, assigned to nobody

[2018-09-18 00:22] handersonc opened #290 "422 Unprocessable Entity"
Hi,

I'm using flask-restful, webargs and marshmallow to build an API.
And I'm getting this error in the response

422 Unprocessable Entity
Unprocessable Entity
The request was well-formed but was unable to be followed due to semantic errors.

I have something like this:

[code]

It seems that when i have nested fields and one of those fields has a required field i'm getting that error.

the ideal

[2018-09-18 02:23] sloria commented on #290
I'm not sure your issue is related to using Nested fields. I think you'll see that same error whenever a `ValidationError` is raised by marshmallow.

When using webargs with Flask-RESTful, you need to define an error handler for 422 responses. See the example here: https://github.com/sloria/webargs/blob/dev/examples/flaskrestful_example.py

[2018-09-18 02:23] #290 closed, assigned to nobody

[2018-09-18 02:37] handersonc commented on #290
thank so much. That was the solution

[2018-09-18 17:08] dnikolayev commented on #160
I found this page via Google. There was no support of Sanic.

However, this pushed to create one, please check  [webargs-sanic](https://github.com/EndurantDevs/webargs-sanic)

[2018-09-25 22:24] fmqa commented on #229
I think this can be fixed by catching the `JSONDecodeError` and inspecting the exception object's `doc` member. I submitted PR #297 illustrating this workaround.

[2018-10-09 15:02] nazariyv opened #303 "Confused - how to use List/Nested"
Can you help me understand how to use the structure like below to achieve something like this:

[code]

[code]

As soon as I add Nested/List, it stops working, as in it successfully goes through all of the validation, even though the args are not correct. For example, if for values we have `fields.List(Nested(ComparatorValue))` (this is actually what I need, I've given above a minimal example), th

[2018-10-09 15:06] lafrech commented on #303
Did you mean to post on marshmallow bugtracker? This is webargs.

Edit: OK, I just saw the webargs usage at the bottom of your code. Still, it looks like a marshmallow question. No big deal. But more audience on marshmallow bugtracker.

[2018-10-09 15:11] nazariyv commented on #303
This is marshmallow integration with webargs: `use_args(ConfigSchema())`

[2018-10-09 15:19] lafrech commented on #303
You can get webargs out of the way by loading your data with the Schema directly.

    ConfigSchema().load({"config": {"yo":"got through"}})

Looks like you're using a mix of marshmallow 2 and 3. Meta.strict is marshmallow 2, Dict with keys/values validation is marshmallow 3 (still beta).

[2018-10-09 15:32] nazariyv commented on #303
Thanks. When I check my version of marshmallow it is `2.15.6`. How can I be using the feature of `Dict` in this version, if it is in version `3`? How would I fix this code to achieve the desired result?

[2018-10-09 15:34] lafrech commented on #303
Dict exists in marshmallow 2 but it ignores keys/values arguments so it does not perform the validation you expect, hence the result.

[2018-10-09 15:38] nazariyv commented on #303
Thanks. Is it a bad idea to upgrade to marshmallow 3?

[2018-10-09 15:47] lafrech commented on #303
Depends on your project. Looks like you're starting something so go for it. Just beware of the updates, pin your versions, read the changelog. We hope to release a 3.0 soonish.

[2018-10-09 15:57] nazariyv commented on #303
Thanks for your help!

[2018-10-09 15:57] #303 closed, assigned to nobody

[2018-10-14 16:01] lafrech commented on #85
@ParthGandhi any thoughts on https://github.com/marshmallow-code/marshmallow/issues/996?

[2018-10-16 15:20] kardaj opened #305 "ValidationError is no longer handled correctly by flask-restful"
We have been noticing a new behaviour in our APIs after upgrading from `3.x` to `4.x`.  Here's an example that illustrates the problem, consider this a `main.py` file:

[code]
Previous behaviour:
[code]
Current behaviour:
[code]
The error I get is:
[code]
Any idea where this is coming from?

[2018-10-16 23:48] sloria commented on #305
You need to use a custom error handler when using webargs with Flask-RESTful. See the example here: https://github.com/sloria/webargs/blob/56dabfe1c6644b320c9e5ce24626007696659faf/examples/flaskrestful_example.py#L71-L77

[2018-10-16 23:48] #305 closed, assigned to nobody

[2018-10-17 06:52] kardaj commented on #305
Thanks!

[2018-10-18 01:25] jangelo commented on #273
@sloria I ran into this issue as well.  Here is some code to reproduce.  Ultimately, I'm trying to use a schema to define the json body and also access the path parameter.  If you know of another way to do this, I'd appreciate any insight.  Thanks.

[code]

[2018-10-18 13:15] sloria commented on #273
OK, thanks @jangelo . I haven't tried using `use_args` multiple times for the same view. I'm not even sure if it's an aiohttpparser-specific issue.

I would certainly review and merge a PR fixing this. Even an analysis of the problem would be much appreciated.

[2018-10-22 09:35] TTWShell opened #308 "ma.Schema.partial not work with use_kwargs"

[2018-10-25 13:53] michaelizergit opened #312 "Logo proposal"
Greetings, @sloria

My apologies in case this is not the right channel to address this. I'm a designer in development and an open source enthusiast, who exploring GitHub found your project and decided to propose a logo design for it. It's (of course) totally free and we would be working together to create the design that fits best. In case you agree, you could share some ideas you may have (colour

[2018-10-25 14:55] sloria commented on #312
Wow, that is very generous of you, @michaelizergit ! A logo would be great.

Where do we start? First, a bit about webargs: it's a library for parsing and validating input from HTTP requests. It works with many of Python's popular web frameworks.

How about you post some ideas you have, and we can iterate from there?

[2018-10-25 22:20] #229 closed, assigned to nobody

[2018-10-25 22:40] sloria commented on #229
This is fixed in 4.1.1.

[2018-10-28 20:10] sloria opened #314 "Use tox for running tests and task running"
https://github.com/marshmallow-code/marshmallow/issues/1020#issuecomment-433544037

[2018-10-31 10:32] bustawin opened #318 "Keep arg as a str"
Hello,

I have a query field: `.../?search=foo`. This query field must always be a string, however when I do `.../?search=1` the '1' is casted to int, which then Marshmallow dislikes because the field is set as a Str. If I set the field as Raw everything works but the value is then returned to str.

Is there a way to tell webargs to keep it as a str?

Btw, thanks for such amazing library!

[2018-11-02 02:37] sloria commented on #318
So I understand correctly: Is the web framework you're using casting to an int when you do `?search=1`? Or is webargs doing that?

[2018-11-02 15:43] masoudgs opened #321 "webargs indicate my body request as empty while using tornado httpclient's fetch method"
I'm testing my `Tornado` resources with [`fetch`](https://www.tornadoweb.org/en/stable/httpclient.html#tornado.httpclient.HTTPRequest) method but while validation the resource schema i've got `422` http status code.
Could someone help me?

Resource:
[code]

Test Case:
[code]

[2018-11-02 16:48] masoudgs commented on #321
i've just needed to set `Content-Type` correctly => `'application/json'`.

[2018-11-02 16:48] #321 closed, assigned to nobody

[2018-11-03 14:32] #314 closed, assigned to nobody

[2018-11-07 13:14] dependabot-preview[bot] opened #322 "Dependabot couldn't fetch all your path-based dependencies"
Dependabot couldn't fetch one or more of your project's path-based Python dependencies. The affected dependencies were `'./setup.py`.

To use path-based dependancies with Dependabot the paths must be relative and resolve to a directory in this project's source code.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-11-08 23:10] #322 closed, assigned to nobody

[2018-11-09 11:24] attack68 opened #323 "Asymmetry of, and working with Value, None, and Blank"
Please do correct me if I'm wrong but there is often an asymmetry between webform input fields at initialisation and a webform input fields prepopulated from a Database (or touched by user), which causes use-cases with validating the concepts of `Value`, `None` and `""` (Blank).

For example a Webform might contain a text input (validated for a numeric type), which is initialised with a `null` val

[2018-11-09 13:14] dependabot-preview[bot] opened #324 "Dependabot couldn't fetch all your path-based dependencies"
Dependabot couldn't fetch one or more of your project's path-based Python dependencies. The affected dependencies were `'./setup.py`.

To use path-based dependancies with Dependabot the paths must be relative and resolve to a directory in this project's source code.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-11-09 13:23] sloria commented on #324
@dependabot I've been receiving this message on a number of my repos, and I'm not sure how to resolve it. Can you clarify what's going on here?

[2018-11-09 13:26] greysteil commented on #324
This is going to be a bug on our side - looks like we're not handling quote characters correctly. Give me a few mins and i'll have it fixed.

[2018-11-09 13:48] greysteil commented on #324
I'm shipping https://github.com/dependabot/dependabot-core/commit/92c5e369a259fb9feefa082cc3e9469649feae9b now which will fix this. Thanks for the heads up!

[2018-11-09 14:11] #324 closed, assigned to nobody

[2018-11-09 14:12] greysteil commented on #324
^^^ That's from Dependabot doing a successful update run on this repo. Thanks again for reporting, and helping make Dependabot better. 🙂

[2018-11-09 14:14] sloria commented on #324
Thank a lot for the quick turnaround!

[2018-11-12 09:09] bustawin commented on #318
Mea culpa. I was casting it wrong, as you suggested. Thank you :-)

[2018-11-12 09:10] #318 closed, assigned to nobody

[2018-11-22 09:08] jangelo commented on #273
Sorry it took long.  Here is a PR with a fix. Thanks.
https://github.com/sloria/webargs/pull/326

[2018-11-22 09:22] lafrech commented on #267
Related to https://github.com/sloria/webargs/issues/173.

[2018-11-22 10:57] lafrech opened #327 "RFC: Don't pass a status_code as kwargs in a Field validator"
webargs's `ValidationError` adds `status_code` and `headers` to marshmallow's `ValidationError`. This allows to specify a default code for input validation error. The webserver uses this attribute to return the proper error code.

The tests show another use of this that I find a bit problematic.

It is possible to define a validator on a `Field` of the input validation `Schema` that raises a `Vali

[2018-11-24 09:32] zedrdave opened #329 "Throwing error on invalid JSON string…"
_This seems too big to be an oversight, so apologies in advance if this is a design choice and it's been covered before (I looked in the issues and didn't see anything):_

When sending an invalid JSON string, eg (note the stray comma):
[code]

… it seems that parsers are expected to simply return an empty dict `{}`, while silencing any error. Eg `flask_parser`:
[code]

Despite what the comment imp

[2018-12-01 00:57] bouzafr opened #331 "Error upgrading from 3.0.2 to 4.1.2"
I just upgraded from 3.0.2 to 4.1.2 and got the error below. Anything I can do to fix this?

Thanks.

[code]

[2018-12-01 08:55] lafrech commented on #331
This is a documented breaking change: https://webargs.readthedocs.io/en/latest/changelog.html#id4.

[2018-12-01 08:55] #331 closed, assigned to nobody

[2018-12-05 14:48] michaelizergit commented on #312
Hello, I'm so sorry for disappearing I was finishing a semester. I want to resume the work as soon as possible just passing by to ask if you are still interested.

[2018-12-05 16:07] sloria commented on #312
No problem @michaelizergit . I'm still interested as long as you're still willing to do it. No rush, of course.

[2018-12-16 03:42] sloria commented on #329
Thanks for the report, @zedrdave . I think you're right about not handling JSON correctly. I would also expect an error response to be returned.

I won't have time to look at this in the immediate future. Would you like to send a PR for this? Even a partial PR, e.g. a failing test, would be a big help.

[2018-12-16 03:44] sloria commented on #273
This was fixed by #326 and released in 4.1.3.

[2018-12-16 03:44] #273 closed, assigned to nobody

[2018-12-16 03:45] sloria commented on #235
Closing, as we won't be able to get to this in the near future. Feel free to comment if there's still interest in this.

[2018-12-16 03:45] #235 closed, assigned to nobody

[2018-12-16 21:23] michaelizergit commented on #312
Hello again, here are some ideas. What do you think?
![logos](https://user-images.githubusercontent.com/43072298/50058974-f9b95a00-0156-11e9-8078-c5f39bd069d5.jpg)

[2018-12-16 21:36] sloria commented on #312
Nice, @michaelizergit ! Can you lowercase the "w" to be consistent with the casing in the docs?

[2018-12-16 21:54] michaelizergit commented on #312
Sure! I need you to tell me which one you prefer most, or if you didn't like any so we can start making modifications from there. Also name anything else you'd like to modify: shapes, colors, etc.

[2018-12-16 22:32] sloria commented on #312
I like the multi-colored parallelogram ones the most. Let's start there. Are there other color palettes you considered?

[2018-12-17 13:21] michaelizergit commented on #312
Very good, I was thinking on trying with python colors, but please, share the codes of the colors you may have in mind and I'll try with those too.

[2018-12-18 13:59] sloria commented on #312
I didn't have any specific colors in mind. Just thought it'd be nice to see alternatives. Nice work so far!

[2018-12-18 14:27] michaelizergit commented on #312
Very well, working on it :muscle:

[2018-12-23 15:12] sloria commented on #327
I think you're right about this, @lafrech . In retrospect, the `status_code` kwarg was the wrong solution to https://github.com/sloria/webargs/issues/85 . The use case is met by using `flask.abort`, as you said.

Modified from the OP in #85:

[code]

So let's move forward with this. It'd be good to have a minor release deprecating `status_code` and `DEFAULT_VALIDATION_STATUS` before we remove it i

[2018-12-23 18:52] sloria commented on #327
One use case that would be affected by this change would be reusing validators.

For example, I may want to use the same validator for multiple fields and have the error response include the formatted error messages.

Right now, you can do

[code]

[code]

Do we want to continue supporting this use case?

[2018-12-23 19:38] lafrech commented on #327
You're passing 401 in `handle_validation_error`, so you don't need it in the `ValidationError`. Did you mean

[code]
?

I don't think I'd have a single function for different auth mechanisms, and I don't think I'd use a Schema validator to do this king of validation.

Besides, 422 could be something else. A validation error not triggered by the `auth_validator` function. Unlikely, because it's har

[2018-12-23 22:29] sloria commented on #329
After further investigation, all the parsers behave the same way (ignoring invalid JSON and treating it as missing).

I added this to `webargs.testing.CommonTestCase`:

[code]

and it failed for every parser. So it appears this behavior is expected (though perhaps not desired).

I'm still up for changing this, but the behavior should be changed across all parsers.

[2018-12-23 23:22] sloria commented on #327
Good catch. Fixed.

Fair enough. But then you'll need to duplicate the error formatting logic in two places if you want to keep the error objects consistent.

Perhaps we could support passing an error status code to `parse` &c.

[code]

Thoughts?

[2018-12-24 05:45] sloria commented on #329
This issue is resolved by #334, which ~~allows `JSONDecodeError` to be raised~~ returns a 400 error response when the client passes an invalid JSON payload.

~~Your code will still need to handle the error appropriately.~~

[2018-12-24 14:15] sloria opened #335 "Transfer to marshmallow-code GitHub organization"
Now that marshmallow-code has more "ecosystem" projects and webargs uses marshmallow, it makes sense to move this project over to the marshmallow-code org.

After all, webargs is considered an official member of the "marshmallow stack." =)

cc @lafrech

TODO:

- [x] Transfer repo
- [x] Update docs and PyPI metadata
- [x] Update CONTRIBUTING to link to marshmallow-code's COC
- [x] Update RTD info
-

[2018-12-24 14:35] sloria opened #336 "Deprecate status_code and headers argument to ValidationError"
As an incremental step towards #327, raise a deprecation warning when `status_code` is passed to `ValidationError`.

[2018-12-24 14:39] sloria opened #337 "Handle same name in multiple locations"
It is theoretically possible for the server to receive the same argument in multiple locations. webargs does not handle this case.

This test reproduces the issue:

[code]

[2018-12-24 16:41] sloria commented on #327
We should give the same treatment to `headers`.

[2018-12-24 19:32] sloria commented on #327
I've implemented my [proposal above](https://github.com/sloria/webargs/issues/327#issuecomment-449669326) and deprecated `status_code` and `headers` in #338.

[2018-12-25 15:48] sloria opened #339 "Drop support for marshmallow 3 versions older than rc1"
Remove compatibility code added in https://github.com/sloria/webargs/pull/330 to support marshmallow 3 beta versions.

[2018-12-25 21:01] #252 closed, assigned to nobody

[2018-12-25 21:14] sloria opened #342 "RFC: Remove fill_in_missing_args behavior"
Proposal: Don't fill in missing args for `use_kwargs`.

I believe this behavior was added to prevent a variable number of kwargs from being passed to view functions. However, this leads to unexpected behavior, as seen in #252 and #307.

* Remove the `force_all` argument to `parse`/`use_args`/`use_kwargs`
* Remove `fill_in_missing_args`

[2018-12-25 21:23] sloria commented on #252
I've added the `force_all` argument to `use_kwargs`. It will be released in 4.2.0.

I suggest we remove the `fill_in_missing_args` behavior altogether. I've opened an RFC: #342.

[2018-12-27 20:38] lafrech commented on #327
OK, I didn't think about that because I use flask-rest-api, which registers a [generic error handler](https://github.com/Nobatek/flask-rest-api/blob/master/flask_rest_api/error_handler.py) that formats all error messages, so the logic is not duplicated and all I need to do is use `abort`. I'd recommend doing something like this. At least in Flask, I don't know the other frameworks.

This said, I h

[2018-12-27 20:51] sloria commented on #327
@lafrech Even with a generic error handler, `abort` will cause validation to exit early, so the error handler won't receive the full `messages` dict.

With my implementation in #338, you can do

[code]

And get the full errors dict, like so:

[code]

But I digress. If you have no objections, let's go ahead with #338

[2018-12-27 20:56] lafrech commented on #327
We're using [webargs'`abort`](https://github.com/sloria/webargs/blob/dev/webargs/flaskparser.py#L28). It accepts kwargs it stores in exception `data` attribute, so I can pass a message in `abort`.

That's two very different ways to address the problem, so it is hard to compare.

Yep.

[2018-12-27 20:57] #336 closed, assigned to sloria

[2018-12-27 22:21] sloria commented on #335
Done!

[2018-12-27 22:21] #335 closed, assigned to sloria

[2018-12-27 22:51] #339 closed, assigned to nobody

[2018-12-28 00:01] michaelizergit commented on #312
Hello there, here you have some sketches, want to hear your opinion.
![logos](https://user-images.githubusercontent.com/43072298/50497868-19cc0180-0a12-11e9-846b-45a1e4b6d285.png)

[2018-12-28 09:07] Caratpine opened #346 "How to post complex JSON data?"
I want to post JSON body like this:

[code]

Here is my code:
[code]

But it didn't work. `args` was empty dict.

marshmallow==2.17.0
webargs==4.2.0

thanks :)

[2018-12-28 13:38] sloria commented on #312
Thanks @michaelizergit !

Let's go with the lowercased "webargs". As for the colors, here are my favorites:

![image 2018-12-28 08-36-22](https://user-images.githubusercontent.com/2379650/50516978-e0c87700-0a7b-11e9-9418-c4f6ff08b2e3.png)

[2018-12-28 16:04] sloria commented on #342
Thoughts, @lafrech @TTWShell ?

[2018-12-28 21:14] sloria commented on #346
The schema definition doesn't look quite right. There's no need for the `list` field or the `Phones` schema. Try the following:

[code]

[2018-12-28 21:14] #346 closed, assigned to nobody

[2018-12-28 21:22] sloria commented on #217
I am not able to reproduce this issue with falcon==1.4.1 and the latest webargs release. Closing for now, but feel free to comment if this is still an issue.

[2018-12-28 21:22] #217 closed, assigned to nobody

[2018-12-28 21:27] sloria commented on #234
I don't think we'll be adding this into webargs core. It's simple enough to override `parse_arg` for this use case.

[code]

[2018-12-28 21:28] sloria commented on #227
@reem-codes Are you still experiencing this issue, or can this be closed?

[2018-12-28 21:34] sloria commented on #323
We won't be adding this into webargs core, as this is more an issue with the deserialization behavior, which is in marshmallow's purview. There's a discussion about this here: https://github.com/marshmallow-code/marshmallow/issues/713

[2018-12-28 21:34] #323 closed, assigned to nobody

[2018-12-28 21:36] sloria commented on #308
This was solved by adding the `force_all` param. I'm proposing we get rid of the `fill_missing` behavior altogether https://github.com/marshmallow-code/webargs/issues/342

[2018-12-28 21:36] #308 closed, assigned to nobody

[2018-12-28 21:37] lafrech commented on #342
No objection.

If the view function needs a value, the schema should make it required or provide a default.

Or the view function itself may provide a default, but I think this is the schema's responsibility.

`get_field_names_for_argmap` can be removed as well.

[2018-12-28 21:42] sloria commented on #253
I'm open to this, though it might make Falcon's parsing inconsistent with the other parsers. But perhaps that's OK, since Falcon users may expect `req.media` to be used.

I'd certainly review/merge a PR.

[2018-12-28 21:43] sloria commented on #173
Let's continue discussion of this in #267, as it's the same issue described here.

[2018-12-28 21:43] #173 closed, assigned to nobody

[2018-12-28 21:46] sloria commented on #342
Cool. I'll go ahead with https://github.com/marshmallow-code/webargs/pull/347 then.

[2018-12-28 21:56] #337 closed, assigned to nobody

[2018-12-28 21:56] sloria commented on #337
Actually, I think the behavior is correct...

[2018-12-29 02:40] #227 closed, assigned to nobody

[2018-12-30 22:39] #327 closed, assigned to nobody

[2018-12-30 23:00] michaelizergit commented on #312
I personally like this one
![screenshot_2018-12-30 50497868-19cc0180-0a12-11e9-846b-45a1e4b6d285 png png image 2554 x 3304 pixels](https://user-images.githubusercontent.com/43072298/50552224-0cf31c00-0c65-11e9-8a23-87f545f34709.png)

And this one (all lowercase)
![screenshot_2018-12-30 50497868-19cc0180-0a12-11e9-846b-45a1e4b6d285 png png image 2554 x 3304 pixels 1](https://user-images.githubuserc

[2018-12-31 14:08] #329 closed, assigned to sloria

[2018-12-31 14:17] sloria commented on #312
Of those two, I like the top one more.

Can you also try some solid-colored ones for comparison?

Here are some colors I think might work:

#fa153a
#fb0091
#25ba81

[2018-12-31 15:07] sloria opened #350 "Remove support for legacy error handlers"

[2019-01-01 13:43] #342 closed, assigned to nobody

[2019-01-01 22:48] #350 closed, assigned to nobody

[2019-01-03 23:30] michaelizergit commented on #312
Working on it

[2019-01-04 21:57] sloria opened #353 "RFC: Use annotations for parsing arguments"
Add a decorator that will parse request arguments from the view function's type annotations.

I've built a working proof of concept of this idea in [webargs-starlette](https://github.com/sloria/webargs-starlette).

[code]

A marshmallow `Schema` is generated from the annotations using `Schema.TYPE_MAPPING` to construct fields.

The code for `use_annotations` mostly isn't tied to Starlette and coul

[2019-01-06 00:31] mholtzman commented on #230
@sloria I got a working example in Flask but I don't see an obvious place for it in the docs, it seems to be just basic usage or Marshmallow-specific on how to use the fields.Field() method. Any suggestions on where this might go?

Here's what it might look like, showing how to validate a file:
[code]

[2019-01-06 10:38] #230 closed, assigned to nobody

[2019-01-06 10:38] sloria commented on #230
Thanks @mholtzman . I went ahead and added it to the "Quickstart" page.

[2019-01-09 03:03] Caratpine commented on #346
@sloria thanks :)

I find that my JSON body has syntax error. 🤣

[2019-01-09 11:06] sloria commented on #346
Ah I see. If you upgrade to 5.0.0, invalid JSON payloads will result in a 400 response. ;)

[2019-01-11 00:28] sloria commented on #262
I'm open to this if it doesn't add too much complexity to the codebase. Rather than adding a parameter to provide an executor, I think I'd prefer exposing functions (parse_json, etc.) that could be passed to `run_in_executor`. PRs welcome.

[2019-01-11 04:31] hoatle opened #355 "bug: webargs 5.0 introduces incompatibility with Flask < 1.0"
https://github.com/marshmallow-code/webargs/blob/5.0.0/webargs/flaskparser.py#L63

`_get_data_for_json` is only available since Flask >= 1.0

for Flask < 1.0, there is an error as follows:

[code]

I had to downgrade webargs to 4.4.1 to get it work.

So you need to update this framework requirement https://github.com/marshmallow-code/webargs/blob/dev/setup.py#L11 or update the code for the backwar

[2019-01-11 08:05] lafrech commented on #355
Thanks for reporting.

I don't fully understand the reason @sloria did it this way.

            # We decode the json manually here instead of
            # using req.get_json() so that we can handle
            # JSONDecodeErrors consistently

Apparently, catching `BadRequest` (which is both flask<1.0 and flask 1.0) was not satisfying.

I wouldn't mind dropping flask < 1.0 if we had to since flas

[2019-01-11 08:32] sloria commented on #355
[code]

The reason it is done this way is so that a `JSONDecodeError` would be raised and we could therefore check `e.doc` and pass the exception to `handle_invalid_json_error` (rather than passing a `BadRequest`). This makes the API consistent with the behavior of the other parsers.

[code]

Yeah, this seems like the way to go. Didn't see that method before.

I'm up for dropping Flask 1.0, but th

[2019-01-11 09:06] #355 closed, assigned to sloria

[2019-01-11 09:08] sloria commented on #355
Fix is released in 5.1.0.

[2019-01-11 22:38] kirsle opened #357 "Webargs 5.0.0 incorrectly tries to parse JSON body for GET request"
Upon upgrading to webargs >= 5.0.0 we started to see some failures in our automated unit tests (Flask with webargs-flaskparser).

We had this simple Flask endpoint which uses a GET request and has `?page=1&per_page=20` query parameters:

[code]

And our unit test used a simple Flask test client:

[code]

If I dummy out the whole `@use_kwargs` block and provide function default values, the endpoint

[2019-01-13 02:16] erwinyusrizal opened #359 "TypeError: handle_error() takes exactly 3 arguments (5 given)"
Hi, I updated webargs with the new version (5.1.0), but I got this error

[code]
it seems the default arguments in `self.error_callback` only has 3 args

https://github.com/marshmallow-code/webargs/blob/1a05a6b61c2a5f8d630e4a6f5d8995d0ede12f36/webargs/core.py#L522

Thanks

[2019-01-13 13:19] lafrech commented on #359
Sounds like your error handler needs to be updated due to a change introduced in 4.2.

See https://github.com/marshmallow-code/webargs/blob/dev/CHANGELOG.rst#420-2018-12-27.

The legacy error handlers were supported until 5.0.

[2019-01-13 13:45] erwinyusrizal commented on #359
Cool thanks @lafrech

[2019-01-13 13:45] #359 closed, assigned to nobody

[2019-01-13 22:56] sloria commented on #357
webargs does not officially support Python 3.4.

webargs 5.0 allows `JSONDecodeError` to be raised by `json.load` than handled in `handle_invalid_json_error`. `JSONDecodeError` does not exist in the `json` module in Python 3.4. You can work around this by installing `simplejson`, which webargs will use if it's installed.

[2019-01-14 02:04] Caratpine commented on #346
excellent feature 👍
thanks :)

[2019-01-14 13:54] #357 closed, assigned to nobody

[2019-01-15 02:10] mostafa opened #360 "Inconsistent behavior on Python 2.7 vs. Python 3.7 on Flask"
Hey guys,

I am having an issue with webargs==5.x, in that, when I upgrade it from 4.x to 5.x, using Flask==1.0.2, it works and behaves normally on python 3.7, but it behaves differently on python 2.7 on the same code base. The issue is on this pull request mostafa/grest#84 and is evident on this build: https://travis-ci.org/mostafa/grest/builds/479199700. I've tried to trace my own code to see if

[2019-01-16 17:37] sloria commented on #360
Thanks for reporting @mostafa . That definitely seems suspicious. I don't have time to look into this right now, but if you do some digging and end up finding a fix, I'd gladly review and merge a PR.

[2019-01-16 21:07] llazzaro opened #361 "AttributeError with Python 2.7 on FlaskParser"
On line 66 of file webargs/flaskparser.py:66 we got an AttributeError.
On pytohn 2.7 json does not have the attrivute JSONDecodeError

[code]

JSONDecodeError is available in python 3.

[code]

Python 3:

[code]

[2019-01-16 21:12] llazzaro commented on #361
This was fixed on setup.py with the following line:

[code]

[2019-01-16 21:12] #361 closed, assigned to nobody

[2019-01-17 06:14] mostafa commented on #360
I'll try to look into it to see if I can fix it! As far as I can trace the issue, it is related to the `required` property on different fields. It seems that Python 2.7 is `required=True` by default, but Python 3.7 is `required=False`. I know it is confusing, but that's one thing I just guessed by looking into multiple files from webargs and marshmallow.

[2019-01-17 14:11] sloria commented on #360
Thanks for looking into it.

[2019-01-18 07:34] mostafa commented on #360
As I investigated more, the issue rises due to some _minor_ differences between Python 2.7 and Python 3.7 and those are:

1. In Python 2.7, an empty `string` is an instance of `bytes`, hence `isinstance("", bytes)` returns `True`, but reverse proves to be the case for Python 3.7.
2. In Python 2.7, when an empty string is passed to the `json.loads` method, it raises a `ValueError: No JSON object co

[2019-01-18 07:35] mostafa commented on #360
One possible (very quick) solution is to pass `{}` as JSON request body instead of an empty body. This would eliminate the bug from happening altogether, obviously.

[2019-01-18 07:52] mostafa commented on #360
Just forked the `dev` branch to patch it and it, to my surprise, works like a charm!

[2019-01-18 08:44] mostafa commented on #360
It seems that the issue that was fixed in 05d8e1f1235f6df77279a02a76844ead4e4e7eea, has some relations to this bug. Because when I use the `dev` branch to test, it works fine.

[2019-01-19 18:49] sloria commented on #360
Ah, interesting. I see that your https://github.com/mostafa/grest/pull/84 was merged, so it looks like 5.1.0 had the fix.

Closing this for now.

[2019-01-20 02:07] mostafa commented on #360
I merged it, but it didn't fix the issue. So I downgraded to 4.3.1 to be able to have a working version till the issue resolves. This BUG is playing a hide and seek game with me, hence why I named it inconsistent!

[2019-01-23 21:26] lezoudali opened #362 "`use_args` does not throw an error with extra field."
I'm using `marshmallow==3.0.0rc3` and `webargs==5.1.0`

[code]
Using `httpie`
[code]

does not throw an error for the `extra` field.

[2019-01-23 21:42] lafrech commented on #362
I think this is a duplicate of https://github.com/marshmallow-code/webargs/issues/267.

[2019-01-24 05:14] lezoudali commented on #362
yes it is.

[2019-01-24 05:14] #362 closed, assigned to nobody

[2019-01-27 22:35] sloria opened #363 "simplejson not installed when installing webargs on Python 2.7"
Discovered in: https://github.com/inveniosoftware/invenio-files-rest/pull/185#issuecomment-457940311

We are currently distributing a universal wheel built on Python 3.6 (in Travis). So when the wheel is built, [this conditional is never True](https://github.com/marshmallow-code/webargs/blob/1928c0dd5dfc6db84146b074dcb537092ee16065/setup.py#L7). This results in a wheel that doesn't contain `simple

[2019-01-28 01:28] sloria commented on #360
I wonder if this is related to #363 .  @mostafa Can you try explicitly installing `simplejson` in grest to see if that fixes it?

[2019-01-28 02:19] mostafa commented on #360
It seems that the `ujson` and the `simplejson` APIs are consistent in exception handling, but the internal python implementation raises different exceptions in the same conditions, e.g. empty string.
The `simplejson` library returns `JSONDecodeError: Expecting value: line 1 column 1 (char 0)` on Python 2 and 3, which is the standard Python 3 message and also the `usjon` one raises `ValueError: Exp

[2019-01-28 02:27] mostafa commented on #360
I monkey-patched the dumps and loads functions in flask with the ones from `simplejson`, and it worked perfectly. So, it seems safe to say that difference in the json APIs caused this!

[2019-01-28 04:45] mostafa commented on #360
Hopefully the builds are passing now with the 5.1.0 version.

[2019-01-28 04:45] #360 closed, assigned to mostafa

[2019-01-28 07:55] lafrech commented on #363
That would be the ideal solution.

If it is too much trouble, we could drop the condition and require simplejson for any Python version. Until we manage to make two different builds or we drop Python 2...

[2019-01-28 15:27] sloria commented on #363
This might be as simple as setting `universal = 0` in `setup.cfg` then adding a Travis build stage that runs in a Python 2 environment. I might give this a shot sometime this week.

[2019-01-28 22:00] sloria commented on #363
OK, webargs 5.1.1 will now install simplejson when installed with Python 2.

[2019-01-28 22:00] #363 closed, assigned to nobody

[2019-01-30 10:11] mcs07 opened #364 "License no longer included in sdist"
This commit https://github.com/marshmallow-code/webargs/commit/f41fb1b7348bc269280bf0c9d44abb3444094692 seems to have resulted in the `LICENSE` file no longer being included in the source distribution on PyPI. As a result, the conda-forge builds are failing: https://github.com/conda-forge/webargs-feedstock/pull/23

[2019-01-30 14:54] sloria commented on #364
Ah, so `license_file = LICENSE` must only affect the bdist_wheel but not the sdist.

Ok, I'll look into fixing this for all my projects soon.

Thanks for reporting.

[2019-01-31 00:49] sloria commented on #364
OK, release 5.1.1.post0 includes LICENSE in the sdist.

[2019-01-31 00:49] #364 closed, assigned to nobody

[2019-02-01 18:33] decaz opened #365 "Forgotten error.status_code and error.headers"
Despite #327 and #336 there are still `error.status_code` and `error.headers` at several places within the code base.

[2019-02-01 19:50] lafrech opened #366 "AttributeError: module 'typing' has no attribute 'NoReturn' with Python 3.5.3"
I get this error when running the tests with Python 3.5.3.

[code]

The docs say [`typing.NoReturn`](https://docs.python.org/3/library/typing.html#typing.NoReturn) was added in 3.6.5. However, [the tests pass on Travis](https://travis-ci.org/marshmallow-code/webargs/jobs/486701760) with Python 3.5.6.

[2019-02-01 21:33] alexandersoto opened #367 "Docs: still describing v4 behavior around missing fields?"
I believe the docs are out of date, as they still reference replacing values with `missing`:

https://github.com/marshmallow-code/webargs/blob/b956d0f693b6c16288c50e67ab6c0f8df588f262/docs/quickstart.rst#decorator-api

which was deprecated in v5.

[2019-02-02 19:03] #367 closed, assigned to nobody

[2019-02-02 19:04] sloria commented on #367
Good catch! Fixed.

[2019-02-02 19:08] sloria commented on #365
@decaz Where do you see usages of `ValidationError.status_code`?

[2019-02-02 19:15] sloria commented on #366
Looks like this was a bug until 3.5.4rc1 : https://bugs.python.org/issue28556 .

@lafrech Can you upgrade your Python version?

[2019-02-02 19:19] decaz commented on #365
[code]

[code]

[2019-02-02 19:28] sloria commented on #365
In those cases, `error` is not a `ValidationError`. They are framework-specific HTTP exceptions.

[2019-02-02 19:33] sloria commented on #365
There was one incorrect usage in the docs, which is fixed now.

[2019-02-02 19:48] decaz commented on #365
@sloria isn't it `ValidationError` in use in the following methods?
https://github.com/marshmallow-code/webargs/blob/08073eb93e5d2fb54efc8a5aa6f91eea98b8e059/webargs/aiohttpparser.py#L156
https://github.com/marshmallow-code/webargs/blob/08073eb93e5d2fb54efc8a5aa6f91eea98b8e059/webargs/falconparser.py#L154
For `AIOHTTPParser` I see there is https://github.com/marshmallow-code/webargs/blob/08073eb93

[2019-02-02 20:33] sloria commented on #365
Ah, I missed those.

I'll fix those and look at the other usages.

Thanks for looking into it.

[2019-02-02 20:35] #365 closed, assigned to nobody

[2019-02-02 20:36] sloria commented on #365
Looks like those two were the only remaining usages. The other matches of your `grep` were for HTTP exceptions.

[2019-02-02 22:14] lafrech commented on #366
Not really. https://packages.debian.org/search?keywords=python3

I could use pyenv to develop and run the tests. Still, people using Debian stable or any 3.5.3- version can't run the asyncio part of the code. I mean it is not only about me running the tests but also about anyone willing to run an application using the lib.

But as long as no one complains, maybe we can live with this until 3.6 or

[2019-02-03 00:19] sloria commented on #366
I see. I'd prefer not to support old patch versions Python, but we can live with removing the `typing.NoReturn` usages for now, at least until we decide to drop 3.5 support.

[2019-02-04 02:28] #366 closed, assigned to nobody

[2019-02-08 15:26] xen opened #369 "Additional fields validation error for illformed JSON in "Unprocessable Entity" error"
I have schema and during test found unexpected behavior for the case when JSON can't be processed. For example I have Schema with a lot of fields:

[code]

And trying to send this request:

[code]

And instead of simple error without any mention of the other fields I'm getting:

[code]

I think this is not expected result, since it confuses user.

[2019-02-15 18:16] sloria commented on #369
What version of webargs are you using?

In version 5.0.0 and above, a 400 error is expected to be raised for malformed JSON.

[2019-02-27 04:20] sloria commented on #369
@xen Can this be closed, or are you still running into this issue?

[2019-02-28 14:45] xen commented on #369
I've managed to update my project to `webargs` >5.x and this problem was resolved. Thank you for your support!

[2019-02-28 14:45] #369 closed, assigned to nobody

[2019-03-11 10:57] ThiefMaster opened #371 "Race conditions for parallel requests due to cache"
I just noticed that something in webargs or marshmallow isn't thread-safe. Take this minimal example"

[code]

Run it with threading enabled:

    $ FLASK_APP=webargsrace.py flask run -p 8080 --with-threads

Now send two requests in parallel, with different values:

    $ http post http://127.0.0.1:8080/test 'value=foo' & ; http post http://127.0.0.1:8080/test 'value=bar' &

The output from these

[2019-03-11 13:00] ThiefMaster commented on #371
I think this is caused by the fact that `self._cache` on the `Parser` is not thread-safe.

[2019-03-11 13:19] lafrech commented on #371
Thanks for the report and the test case.

Indeed your test passes when removing the caching mechanism.

[2019-03-11 13:30] sloria commented on #371
Thanks for reporting @ThiefMaster .

I won't have time to work on this for the next few days, but I'd gladly review/merge/release a patch. @ThiefMaster @lafrech Are either you up for this?

[2019-03-11 13:33] ThiefMaster commented on #371
I'm looking into fixing it right now

[2019-03-11 13:34] lafrech commented on #371
I'm investigating.

Removing the cache fixes the issue. I'm trying to see if there is a simple means to keep a cache with a scope restricted to the request.

For the record, the cache was proposed in https://github.com/marshmallow-code/webargs/issues/23 and introduced in https://github.com/marshmallow-code/webargs/commit/243451a424c094f3f6ff1772d66fa3bffbef4b1d.

[2019-03-11 13:57] ThiefMaster commented on #371
My approach would be passing around the cache explicitly (and creating the cache dict in `parse()` so it's never shared).

How much of the parsing-related functions are considered part of the public API? Adding a new `cache` arg that's passed around - even if it's optional - would break code containing custom location handlers, either by due to the extra arg or (when using inspection to pass the a

[2019-03-11 14:04] ThiefMaster commented on #371
I added a possible fix in #372

[2019-03-11 14:06] lafrech commented on #371
Yes. Here's a quick draft, FlaskParser only: https://github.com/marshmallow-code/webargs/commits/fix_cache_race_condition.

You just beat me to it, with a patch covering all parsers.

I'm afraid the change will be a breaking one.

We could also release a fix on the 5.x branch that would only disable the cache.

[2019-03-11 14:08] ThiefMaster commented on #371
The problem I see there is that this will re-parse the json body for every single field in the schema. However, I think we could fix it for flask by storing it as an attribute on the flask req context instead of using the cache...

[2019-03-11 14:09] ThiefMaster commented on #371
Thinking about this again, why don't we create a new Parser instance whenever we parse something? That way `self._cache` is safe and the changes needed are minimal.

[2019-03-11 14:20] lafrech commented on #371
Sure. I can't comment about the performance impact. I suppose it would be more important in Tornado, as the cache was introduced for Tornado in the first place.

Anyway, that would be a fallback solution, until user code is migrated to webargs 6.0.

[2019-03-11 14:33] lafrech commented on #371
I don't think this can be done in a non-breaking fashion either, but it could be worth investigating.

I suppose you mean make `use_args` and `use_kwargs` class methods that instantiate a parser on each parse. We'd lose the ability to pass default locations on init, but I don't think it is that bad. The user can subclass and override `DEFAULT_LOCATIONS`.

Users instantiating a Parser themselves (e